In [1]:
import pandas as pd
import numpy as np

# Gerar dataset para cada estado

In [2]:
datasetTotal = pd.read_csv('datasetTotal.csv')

In [3]:
listaUF = datasetTotal['UF'].unique()

In [4]:
datasetTotal.head(10)

,Unnamed: 0,Município_x,UF,Idade,Total_Estado,Total_Homem,Total_Mulher,Urbana_Total,Urbana_Homem,Urbana_Mulher,Rural_Total,Rural_Homem,Rural_Mulher,editMun,ID,Município_y
0,0,Alta Floresta D'Oeste (RO),RO,Total,6880,3520,3360,4011,1951,2060,2869,1569,1300,altaflorestadoeste,1,Alta Floresta dOeste
1,1,NaN,RO,15 a 17 anos,1577,830,747,878,438,440,699,392,307,altaflorestadoeste,1,Alta Floresta dOeste
2,2,NaN,RO,18 ou 19 anos,1011,532,479,604,301,303,407,231,176,altaflorestadoeste,1,Alta Floresta dOeste
3,3,NaN,RO,20 a 24 anos,2200,1105,1095,1303,632,671,897,473,424,altaflorestadoeste,1,Alta Floresta dOeste
4,4,NaN,RO,25 a 29 anos,2092,1053,1039,1226,580,646,866,473,393,altaflorestadoeste,1,Alta Floresta dOeste
5,5,Ariquemes (RO),RO,Total,26480,13096,13384,23011,11284,11727,3469,1812,1657,ariquemes,2,Ariquemes
6,6,NaN,RO,15 a 17 anos,5497,2758,2739,4641,2310,2331,856,448,408,ariquemes,2,Ariquemes
7,7,NaN,RO,18 ou 19 anos,3544,1721,1823,3096,1477,1619,448,244,204,ariquemes,2,Ariquemes
8,8,NaN,RO,20 a 24 anos,8981,4456,4525,7920,3908,4012,1061,548,513,ariquemes,2,Ariquemes
9,9,NaN,RO,25 a 29 anos,8458,4161,4297,7354,3589,3765,1104,572,532,ariquemes,2,Ariquemes

In [5]:
datasetDict = {}
for i in listaUF:
  datasetDict[i] = datasetTotal.loc[(datasetTotal['UF']==i) & (datasetTotal['Idade']=='Total')]

Alguns municípios não possuem todos os dados

In [6]:
datasetTotal.loc[(datasetTotal['UF']=='CE') & (datasetTotal['ID']==947)]

,Unnamed: 0,Município_x,UF,Idade,Total_Estado,Total_Homem,Total_Mulher,Urbana_Total,Urbana_Homem,Urbana_Mulher,Rural_Total,Rural_Homem,Rural_Mulher,editMun,ID,Município_y
4715,4715,Eusébio (CE),CE,Total,13839,6814,7025,13839,6814,7025,0,0,0,eusebio,947,Eusébio
4716,4716,NaN,CE,15 a 17 anos,2871,1423,1448,2871,1423,1448,0,0,0,eusebio,947,Eusébio
4717,4717,NaN,CE,18 ou 19 anos,1750,875,875,1750,875,875,0,0,0,eusebio,947,Eusébio
4718,4718,NaN,CE,20 a 24 anos,4812,2367,2445,4812,2367,2445,0,0,0,eusebio,947,Eusébio
4719,4719,NaN,CE,25 a 29 anos,4406,2149,2257,4406,2149,2257,0,0,0,eusebio,947,Eusébio

In [7]:
nova_coluna = []
name_id = "40"     #População Jovem Rural: Total
year_id = "9"      #Ano: 2010
for index, row in datasetDict['CE'].iterrows():
  region_id = datasetDict['CE'].loc[index,'ID']
  jhi_value = datasetDict['CE'].loc[index,'Rural_Total']
  if jhi_value == 0:
    print('nulo')
  else:
    sql = "INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`)  VALUES ('NULL','" + str(region_id) + "','" + name_id + "','" + year_id + "','" + str(jhi_value) + "');"
    nova_coluna.append(sql)

nulo
nulo

Antiga função para gerar nova coluna com sqls, tratando os nulos

In [8]:
#def gerar_SQL(name, name_id, year_id, datasetUF):
#  #name = 'Rural_Total'
#  #name_id = "40"     #População Jovem Rural: Total
#  #year_id = "9"      #Ano: 2010
#  nova_coluna = []
#  string = ""
#  count = 0
#  for index, row in datasetUF.iterrows():
#    region_id = datasetUF.loc[index,'ID']
#    jhi_value = datasetUF.loc[index,name]
#    if jhi_value == "-":
#      count += 1
#    else:
#      sql = "INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`)  VALUES (NULL,'" + str(region_id) + "','" + name_id + #"','" + year_id + "','" + str(jhi_value) + "');"
#      nova_coluna.append(sql)
#
#  print("O estado " + datasetUF.loc[index,'UF'] + " tem " + str(count) + " valores nulos para o indicador " + name)
#  return nova_coluna

Nova função para gerar lista de SQLs, tratando os nulos.
Gera apenas o que vem depois do VALUES

In [9]:
def gerar_values(name, name_id, year_id, datasetUF):
    #name = 'Rural_Total'
    #name_id = "40"     #População Jovem Rural: Total
    #year_id = "9"      #Ano: 2010
    nova_coluna = []
    count = 0
    
    for index, row in datasetUF.iterrows():
        region_id = datasetUF.loc[index,'ID']
        jhi_value = datasetUF.loc[index,name]
        if jhi_value == 0:
            count += 1
        else:
            #sql = "INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`)  VALUES (NULL,'" + str(region_id) + "','" + name_id + "','" + year_id + "','" + str(jhi_value) + "');"
            sql = "(NULL,'" + str(region_id) + "','" + name_id + "','" + year_id + "','" + str(jhi_value) + "')"
            nova_coluna.append(sql)        

    print("O estado " + datasetUF.loc[index,'UF'] + " tem " + str(count) + " valores nulos para o indicador " + name)
    return nova_coluna

Nova função para gerar lista de SQL completo, aqui os nulos já estão tratados.
Gera um insert into para cada 10 values

In [10]:
def gerar_SQL(lista):
    nova_coluna = []
    auxStr = ""
    string = "INSERT INTO `MuniEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES "
    count = 1 #contador para cada 10
    
    #nova_coluna.append(string)
    auxStr += string
    
    for item in lista:
        if (count%10 == 0):
            #sql = item + "; \n"
            #nova_coluna.append(sql)
            #nova_coluna.append(string) 
            
            auxStr += item + "; "
            nova_coluna.append(auxStr) 
            auxStr = string
            
        else:
            auxStr += item + ", "
            #nova_coluna.append(sql)
        count +=1

    if auxStr.endswith(', '):
        auxStr = auxStr[:-2]
        auxStr += "; "
        nova_coluna.append(auxStr) 
    
    return nova_coluna

In [11]:
name = 'Rural_Total'
name_id = "40"     #População Jovem Rural: Total
year_id = "9"      #Ano: 2010

In [12]:
teste = gerar_values(name, name_id, year_id, datasetDict['CE'])

O estado CE tem 2 valores nulos para o indicador Rural_Total

In [12]:
teste

["(NULL,'892','40','9','1676')",
 "(NULL,'893','40','9','2108')",
 "(NULL,'894','40','9','8711')",
 "(NULL,'895','40','9','6548')",
 "(NULL,'896','40','9','3316')",
 "(NULL,'897','40','9','2147')",
 "(NULL,'898','40','9','481')",
 "(NULL,'899','40','9','2334')",
 "(NULL,'900','40','9','6703')",
 "(NULL,'901','40','9','504')",
 "(NULL,'902','40','9','2132')",
 "(NULL,'903','40','9','1835')",
 "(NULL,'904','40','9','7360')",
 "(NULL,'905','40','9','3287')",
 "(NULL,'906','40','9','1414')",
 "(NULL,'907','40','9','2310')",
 "(NULL,'908','40','9','2255')",
 "(NULL,'909','40','9','957')",
 "(NULL,'910','40','9','2616')",
 "(NULL,'911','40','9','3270')",
 "(NULL,'912','40','9','697')",
 "(NULL,'913','40','9','2194')",
 "(NULL,'914','40','9','5100')",
 "(NULL,'915','40','9','3265')",
 "(NULL,'916','40','9','2202')",
 "(NULL,'917','40','9','1383')",
 "(NULL,'918','40','9','2483')",
 "(NULL,'919','40','9','7588')",
 "(NULL,'920','40','9','5203')",
 "(NULL,'921','40','9','6656')",
 "(NULL,'922','40','9','5101')",
 "(NULL,'923','40','9','4476')",
 "(NULL,'924','40','9','1935')",
 "(NULL,'925','40','9','7458')",
 "(NULL,'926','40','9','3150')",
 "(NULL,'927','40','9','2352')",
 "(NULL,'928','40','9','2628')",
 "(NULL,'929','40','9','3220')",
 "(NULL,'930','40','9','2619')",
 "(NULL,'931','40','9','2247')",
 "(NULL,'932','40','9','2826')",
 "(NULL,'933','40','9','2973')",
 "(NULL,'934','40','9','1145')",
 "(NULL,'935','40','9','10495')",
 "(NULL,'936','40','9','2294')",
 "(NULL,'937','40','9','968')",
 "(NULL,'938','40','9','2504')",
 "(NULL,'939','40','9','2258')",
 "(NULL,'940','40','9','2163')",
 "(NULL,'941','40','9','4943')",
 "(NULL,'942','40','9','5487')",
 "(NULL,'943','40','9','2070')",
 "(NULL,'944','40','9','3569')",
 "(NULL,'945','40','9','1195')",
 "(NULL,'946','40','9','901')",
 "(NULL,'948','40','9','2795')",
 "(NULL,'949','40','9','1671')",
 "(NULL,'951','40','9','1506')",
 "(NULL,'952','40','9','1359')",
 "(NULL,'953','40','9','703')",
 "(NULL,'954','40','9','2290')",
 "(NULL,'955','40','9','7472')",
 "(NULL,'956','40','9','864')",
 "(NULL,'957','40','9','838')",
 "(NULL,'958','40','9','1531')",
 "(NULL,'959','40','9','5279')",
 "(NULL,'960','40','9','513')",
 "(NULL,'961','40','9','1980')",
 "(NULL,'962','40','9','1204')",
 "(NULL,'963','40','9','2291')",
 "(NULL,'964','40','9','3514')",
 "(NULL,'965','40','9','1611')",
 "(NULL,'966','40','9','3626')",
 "(NULL,'967','40','9','9458')",
 "(NULL,'968','40','9','5664')",
 "(NULL,'969','40','9','3520')",
 "(NULL,'970','40','9','1606')",
 "(NULL,'971','40','9','1244')",
 "(NULL,'972','40','9','3940')",
 "(NULL,'973','40','9','4689')",
 "(NULL,'974','40','9','1036')",
 "(NULL,'975','40','9','2293')",
 "(NULL,'976','40','9','804')",
 "(NULL,'977','40','9','59')",
 "(NULL,'979','40','9','13738')",
 "(NULL,'980','40','9','2830')",
 "(NULL,'981','40','9','6658')",
 "(NULL,'982','40','9','2559')",
 "(NULL,'983','40','9','2370')",
 "(NULL,'984','40','9','865')",
 "(NULL,'985','40','9','2734')",
 "(NULL,'986','40','9','3837')",
 "(NULL,'987','40','9','4954')",
 "(NULL,'988','40','9','922')",
 "(NULL,'989','40','9','3602')",
 "(NULL,'990','40','9','2789')",
 "(NULL,'991','40','9','2420')",
 "(NULL,'992','40','9','3474')",
 "(NULL,'993','40','9','6499')",
 "(NULL,'994','40','9','2489')",
 "(NULL,'995','40','9','452')",
 "(NULL,'996','40','9','7975')",
 "(NULL,'997','40','9','2725')",
 "(NULL,'998','40','9','678')",
 "(NULL,'999','40','9','3317')",
 "(NULL,'1000','40','9','5972')",
 "(NULL,'1001','40','9','1823')",
 "(NULL,'1002','40','9','3997')",
 "(NULL,'1003','40','9','1734')",
 "(NULL,'1004','40','9','1655')",
 "(NULL,'1005','40','9','5298')",
 "(NULL,'1006','40','9','6223')",
 "(NULL,'1007','40','9','1897')",
 "(NULL,'1008','40','9','6882')",
 "(NULL,'1009','40','9','1268')",
 "(NULL,'1010','40','9','3128')",
 "(NULL,'1011','40','9','1296')",
 "(NULL,'1012','40','9','1974')",
 "(NULL,'1013','40','9','1286')",
 "(NULL,'1014','40','9','1875')",
 "(NULL,'1015','40','9','3356')",
 "(NULL,'1016','40','9','4448')",
 "(NULL,'1017','40','9','1379')",
 "(NULL,'1018','40','9','3188')",
 "(NULL,'1019','40','9','2952')",
 "(NULL,'1020','40','9','1891')",
 "(NULL,'1021','40','9','564')",
 "(NULL,'1022','40','9','1225')",
 "(NULL,'1023','40','9','1977')",
 "(NULL,'1024','40','9','3035')",
 "(NULL,'1025','40','9','4685')",
 "(NULL,'1026','40','9','4346')",
 "(NULL,'1027','40','9','1496')",
 "(NULL,'1028','40','9','4654')",
 "(NULL,'1029','40','9','476')",
 "(NULL,'1030','40','9','3760')",
 "(NULL,'1031','40','9','2790')",
 "(NULL,'1032','40','9','2061')",
 "(NULL,'1033','40','9','2166')",
 "(NULL,'1034','40','9','1802')",
 "(NULL,'1035','40','9','1081')",
 "(NULL,'1036','40','9','2524')",
 "(NULL,'1037','40','9','1164')",
 "(NULL,'1038','40','9','949')",
 "(NULL,'1039','40','9','3492')",
 "(NULL,'1040','40','9','6157')",
 "(NULL,'1041','40','9','2409')",
 "(NULL,'1042','40','9','7109')",
 "(NULL,'1043','40','9','2164')",
 "(NULL,'1044','40','9','3126')",
 "(NULL,'1045','40','9','2155')",
 "(NULL,'1046','40','9','7250')",
 "(NULL,'1047','40','9','1809')",
 "(NULL,'1048','40','9','2601')",
 "(NULL,'1049','40','9','4163')",
 "(NULL,'1050','40','9','2245')",
 "(NULL,'1051','40','9','5503')",
 "(NULL,'1052','40','9','5308')",
 "(NULL,'1053','40','9','4503')",
 "(NULL,'1054','40','9','1084')",
 "(NULL,'1055','40','9','1255')",
 "(NULL,'1056','40','9','2667')",
 "(NULL,'1057','40','9','514')",
 "(NULL,'1058','40','9','6319')",
 "(NULL,'1059','40','9','2010')",
 "(NULL,'1060','40','9','2724')",
 "(NULL,'1061','40','9','2925')",
 "(NULL,'1062','40','9','1710')",
 "(NULL,'1063','40','9','5667')",
 "(NULL,'1064','40','9','2991')",
 "(NULL,'1065','40','9','6672')",
 "(NULL,'1066','40','9','9414')",
 "(NULL,'1067','40','9','2669')",
 "(NULL,'1068','40','9','4730')",
 "(NULL,'1069','40','9','902')",
 "(NULL,'1070','40','9','2264')",
 "(NULL,'1071','40','9','1497')",
 "(NULL,'1072','40','9','1428')",
 "(NULL,'1073','40','9','815')",
 "(NULL,'1074','40','9','3687')",
 "(NULL,'1075','40','9','10786')"]

In [13]:
a = gerar_SQL(teste)
for i in a:
    print(i)

INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'892','40','9','1676'), (NULL,'893','40','9','2108'), (NULL,'894','40','9','8711'), (NULL,'895','40','9','6548'), (NULL,'896','40','9','3316'), (NULL,'897','40','9','2147'), (NULL,'898','40','9','481'), (NULL,'899','40','9','2334'), (NULL,'900','40','9','6703'), (NULL,'901','40','9','504');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'902','40','9','2132'), (NULL,'903','40','9','1835'), (NULL,'904','40','9','7360'), (NULL,'905','40','9','3287'), (NULL,'906','40','9','1414'), (NULL,'907','40','9','2310'), (NULL,'908','40','9','2255'), (NULL,'909','40','9','957'), (NULL,'910','40','9','2616'), (NULL,'911','40','9','3270');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'912','40','9','697'), (NULL,'913','40','9','2194'), (NULL,'914','40','9','5100'), (NULL,'915','40','9','3265'), (NULL,'916','40','9','2202'), (NULL,'917','40','9','1383'), (NULL,'918','40','9','2483'), (NULL,'919','40','9','7588'), (NULL,'920','40','9','5203'), (NULL,'921','40','9','6656');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'922','40','9','5101'), (NULL,'923','40','9','4476'), (NULL,'924','40','9','1935'), (NULL,'925','40','9','7458'), (NULL,'926','40','9','3150'), (NULL,'927','40','9','2352'), (NULL,'928','40','9','2628'), (NULL,'929','40','9','3220'), (NULL,'930','40','9','2619'), (NULL,'931','40','9','2247');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'932','40','9','2826'), (NULL,'933','40','9','2973'), (NULL,'934','40','9','1145'), (NULL,'935','40','9','10495'), (NULL,'936','40','9','2294'), (NULL,'937','40','9','968'), (NULL,'938','40','9','2504'), (NULL,'939','40','9','2258'), (NULL,'940','40','9','2163'), (NULL,'941','40','9','4943');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'942','40','9','5487'), (NULL,'943','40','9','2070'), (NULL,'944','40','9','3569'), (NULL,'945','40','9','1195'), (NULL,'946','40','9','901'), (NULL,'948','40','9','2795'), (NULL,'949','40','9','1671'), (NULL,'951','40','9','1506'), (NULL,'952','40','9','1359'), (NULL,'953','40','9','703');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'954','40','9','2290'), (NULL,'955','40','9','7472'), (NULL,'956','40','9','864'), (NULL,'957','40','9','838'), (NULL,'958','40','9','1531'), (NULL,'959','40','9','5279'), (NULL,'960','40','9','513'), (NULL,'961','40','9','1980'), (NULL,'962','40','9','1204'), (NULL,'963','40','9','2291');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'964','40','9','3514'), (NULL,'965','40','9','1611'), (NULL,'966','40','9','3626'), (NULL,'967','40','9','9458'), (NULL,'968','40','9','5664'), (NULL,'969','40','9','3520'), (NULL,'970','40','9','1606'), (NULL,'971','40','9','1244'), (NULL,'972','40','9','3940'), (NULL,'973','40','9','4689');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'974','40','9','1036'), (NULL,'975','40','9','2293'), (NULL,'976','40','9','804'), (NULL,'977','40','9','59'), (NULL,'979','40','9','13738'), (NULL,'980','40','9','2830'), (NULL,'981','40','9','6658'), (NULL,'982','40','9','2559'), (NULL,'983','40','9','2370'), (NULL,'984','40','9','865');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'985','40','9','2734'), (NULL,'986','40','9','3837'), (NULL,'987','40','9','4954'), (NULL,'988','40','9','922'), (NULL,'989','40','9','3602'), (NULL,'990','40','9','2789'), (NULL,'991','40','9','2420'), (NULL,'992','40','9','3474'), (NULL,'993','40','9','6499'), (NULL,'994','40','9','2489');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'995','40','9','452'), (NULL,'996','40','9','7975'), (NULL,'997','40','9','2725'), (NULL,'998','40','9','678'), (NULL,'999','40','9','3317'), (NULL,'1000','40','9','5972'), (NULL,'1001','40','9','1823'), (NULL,'1002','40','9','3997'), (NULL,'1003','40','9','1734'), (NULL,'1004','40','9','1655');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1005','40','9','5298'), (NULL,'1006','40','9','6223'), (NULL,'1007','40','9','1897'), (NULL,'1008','40','9','6882'), (NULL,'1009','40','9','1268'), (NULL,'1010','40','9','3128'), (NULL,'1011','40','9','1296'), (NULL,'1012','40','9','1974'), (NULL,'1013','40','9','1286'), (NULL,'1014','40','9','1875');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1015','40','9','3356'), (NULL,'1016','40','9','4448'), (NULL,'1017','40','9','1379'), (NULL,'1018','40','9','3188'), (NULL,'1019','40','9','2952'), (NULL,'1020','40','9','1891'), (NULL,'1021','40','9','564'), (NULL,'1022','40','9','1225'), (NULL,'1023','40','9','1977'), (NULL,'1024','40','9','3035');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1025','40','9','4685'), (NULL,'1026','40','9','4346'), (NULL,'1027','40','9','1496'), (NULL,'1028','40','9','4654'), (NULL,'1029','40','9','476'), (NULL,'1030','40','9','3760'), (NULL,'1031','40','9','2790'), (NULL,'1032','40','9','2061'), (NULL,'1033','40','9','2166'), (NULL,'1034','40','9','1802');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1035','40','9','1081'), (NULL,'1036','40','9','2524'), (NULL,'1037','40','9','1164'), (NULL,'1038','40','9','949'), (NULL,'1039','40','9','3492'), (NULL,'1040','40','9','6157'), (NULL,'1041','40','9','2409'), (NULL,'1042','40','9','7109'), (NULL,'1043','40','9','2164'), (NULL,'1044','40','9','3126');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1045','40','9','2155'), (NULL,'1046','40','9','7250'), (NULL,'1047','40','9','1809'), (NULL,'1048','40','9','2601'), (NULL,'1049','40','9','4163'), (NULL,'1050','40','9','2245'), (NULL,'1051','40','9','5503'), (NULL,'1052','40','9','5308'), (NULL,'1053','40','9','4503'), (NULL,'1054','40','9','1084');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1055','40','9','1255'), (NULL,'1056','40','9','2667'), (NULL,'1057','40','9','514'), (NULL,'1058','40','9','6319'), (NULL,'1059','40','9','2010'), (NULL,'1060','40','9','2724'), (NULL,'1061','40','9','2925'), (NULL,'1062','40','9','1710'), (NULL,'1063','40','9','5667'), (NULL,'1064','40','9','2991');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1065','40','9','6672'), (NULL,'1066','40','9','9414'), (NULL,'1067','40','9','2669'), (NULL,'1068','40','9','4730'), (NULL,'1069','40','9','902'), (NULL,'1070','40','9','2264'), (NULL,'1071','40','9','1497'), (NULL,'1072','40','9','1428'), (NULL,'1073','40','9','815'), (NULL,'1074','40','9','3687');
INSERT INTO `RelationMunicipioEstado` (`id`,`region_id`,`name_id`,`year_id`,`jhi_value`) VALUES (NULL,'1075','40','9','10786');

In [16]:
listaUF

array(['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE', 'RN',
       'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC',
       'RS', 'MS', 'MT', 'GO', 'DF'], dtype=object)

In [17]:
name = 'Rural_Total'
name_id = "40"     #População Jovem Rural: Total
year_id = "9"      #Ano: 2010

In [18]:
for item in listaUF:
    file_name = "Rural_Total/" + item +  "_Rural_Total.txt"
    lista_values = gerar_values(name, name_id, year_id, datasetDict[item])
    lista = gerar_SQL(lista_values)

    #text_file = open(file_name, "w")
    #for i in lista:
    #    text_file.write(i + "\n")    
    #text_file.close()

O estado RO tem 0 valores nulos para o indicador Rural_Total
O estado AC tem 0 valores nulos para o indicador Rural_Total
O estado AM tem 0 valores nulos para o indicador Rural_Total
O estado RR tem 0 valores nulos para o indicador Rural_Total
O estado PA tem 0 valores nulos para o indicador Rural_Total
O estado AP tem 0 valores nulos para o indicador Rural_Total
O estado TO tem 0 valores nulos para o indicador Rural_Total
O estado MA tem 0 valores nulos para o indicador Rural_Total
O estado PI tem 0 valores nulos para o indicador Rural_Total
O estado CE tem 2 valores nulos para o indicador Rural_Total
O estado RN tem 2 valores nulos para o indicador Rural_Total
O estado PB tem 0 valores nulos para o indicador Rural_Total
O estado PE tem 4 valores nulos para o indicador Rural_Total
O estado AL tem 0 valores nulos para o indicador Rural_Total
O estado SE tem 1 valores nulos para o indicador Rural_Total
O estado BA tem 2 valores nulos para o indicador Rural_Total
O estado MG tem 5 valores nulos para o indicador Rural_Total
O estado ES tem 1 valores nulos para o indicador Rural_Total
O estado RJ tem 11 valores nulos para o indicador Rural_Total
O estado SP tem 30 valores nulos para o indicador Rural_Total
O estado PR tem 2 valores nulos para o indicador Rural_Total
O estado SC tem 3 valores nulos para o indicador Rural_Total
O estado RS tem 4 valores nulos para o indicador Rural_Total
O estado MS tem 0 valores nulos para o indicador Rural_Total
O estado MT tem 0 valores nulos para o indicador Rural_Total
O estado GO tem 1 valores nulos para o indicador Rural_Total
O estado DF tem 0 valores nulos para o indicador Rural_Total

In [19]:
file_name = "Novas/Rural_Total.sql"
text_file = open(file_name, "w")

for item in listaUF:
    lista_values = gerar_values(name, name_id, year_id, datasetDict[item])
    lista = gerar_SQL(lista_values)

    for i in lista:
        text_file.write(i + "\n")    

text_file.close()

O estado RO tem 0 valores nulos para o indicador Rural_Total
O estado AC tem 0 valores nulos para o indicador Rural_Total
O estado AM tem 0 valores nulos para o indicador Rural_Total
O estado RR tem 0 valores nulos para o indicador Rural_Total
O estado PA tem 0 valores nulos para o indicador Rural_Total
O estado AP tem 0 valores nulos para o indicador Rural_Total
O estado TO tem 0 valores nulos para o indicador Rural_Total
O estado MA tem 0 valores nulos para o indicador Rural_Total
O estado PI tem 0 valores nulos para o indicador Rural_Total
O estado CE tem 2 valores nulos para o indicador Rural_Total
O estado RN tem 2 valores nulos para o indicador Rural_Total
O estado PB tem 0 valores nulos para o indicador Rural_Total
O estado PE tem 4 valores nulos para o indicador Rural_Total
O estado AL tem 0 valores nulos para o indicador Rural_Total
O estado SE tem 1 valores nulos para o indicador Rural_Total
O estado BA tem 2 valores nulos para o indicador Rural_Total
O estado MG tem 5 valores nulos para o indicador Rural_Total
O estado ES tem 1 valores nulos para o indicador Rural_Total
O estado RJ tem 11 valores nulos para o indicador Rural_Total
O estado SP tem 30 valores nulos para o indicador Rural_Total
O estado PR tem 2 valores nulos para o indicador Rural_Total
O estado SC tem 3 valores nulos para o indicador Rural_Total
O estado RS tem 4 valores nulos para o indicador Rural_Total
O estado MS tem 0 valores nulos para o indicador Rural_Total
O estado MT tem 0 valores nulos para o indicador Rural_Total
O estado GO tem 1 valores nulos para o indicador Rural_Total
O estado DF tem 0 valores nulos para o indicador Rural_Total

In [20]:
name = 'Rural_Homem'
name_id = "38"     #População Jovem Rural: Homem
year_id = "9"      #Ano: 2010

In [21]:
file_name = "Novas/Rural_Homem.sql"
text_file = open(file_name, "w")

for item in listaUF:
    lista_values = gerar_values(name, name_id, year_id, datasetDict[item])
    lista = gerar_SQL(lista_values)

    for i in lista:
        text_file.write(i + "\n")    

text_file.close()

O estado RO tem 0 valores nulos para o indicador Rural_Homem
O estado AC tem 0 valores nulos para o indicador Rural_Homem
O estado AM tem 0 valores nulos para o indicador Rural_Homem
O estado RR tem 0 valores nulos para o indicador Rural_Homem
O estado PA tem 0 valores nulos para o indicador Rural_Homem
O estado AP tem 0 valores nulos para o indicador Rural_Homem
O estado TO tem 0 valores nulos para o indicador Rural_Homem
O estado MA tem 0 valores nulos para o indicador Rural_Homem
O estado PI tem 0 valores nulos para o indicador Rural_Homem
O estado CE tem 2 valores nulos para o indicador Rural_Homem
O estado RN tem 2 valores nulos para o indicador Rural_Homem
O estado PB tem 1 valores nulos para o indicador Rural_Homem
O estado PE tem 4 valores nulos para o indicador Rural_Homem
O estado AL tem 0 valores nulos para o indicador Rural_Homem
O estado SE tem 1 valores nulos para o indicador Rural_Homem
O estado BA tem 2 valores nulos para o indicador Rural_Homem
O estado MG tem 5 valores nulos para o indicador Rural_Homem
O estado ES tem 1 valores nulos para o indicador Rural_Homem
O estado RJ tem 11 valores nulos para o indicador Rural_Homem
O estado SP tem 30 valores nulos para o indicador Rural_Homem
O estado PR tem 2 valores nulos para o indicador Rural_Homem
O estado SC tem 3 valores nulos para o indicador Rural_Homem
O estado RS tem 4 valores nulos para o indicador Rural_Homem
O estado MS tem 0 valores nulos para o indicador Rural_Homem
O estado MT tem 0 valores nulos para o indicador Rural_Homem
O estado GO tem 1 valores nulos para o indicador Rural_Homem
O estado DF tem 0 valores nulos para o indicador Rural_Homem

In [22]:
for item in listaUF:
    file_name = "Rural_Homem/" + item +  "_Rural_Homem.txt"
    lista_values = gerar_values(name, name_id, year_id, datasetDict[item])
    lista = gerar_SQL(lista_values)

    #text_file = open(file_name, "w")
    #for i in lista:
    #    text_file.write(i + "\n")    
    #text_file.close()

O estado RO tem 0 valores nulos para o indicador Rural_Homem
O estado AC tem 0 valores nulos para o indicador Rural_Homem
O estado AM tem 0 valores nulos para o indicador Rural_Homem
O estado RR tem 0 valores nulos para o indicador Rural_Homem
O estado PA tem 0 valores nulos para o indicador Rural_Homem
O estado AP tem 0 valores nulos para o indicador Rural_Homem
O estado TO tem 0 valores nulos para o indicador Rural_Homem
O estado MA tem 0 valores nulos para o indicador Rural_Homem
O estado PI tem 0 valores nulos para o indicador Rural_Homem
O estado CE tem 2 valores nulos para o indicador Rural_Homem
O estado RN tem 2 valores nulos para o indicador Rural_Homem
O estado PB tem 1 valores nulos para o indicador Rural_Homem
O estado PE tem 4 valores nulos para o indicador Rural_Homem
O estado AL tem 0 valores nulos para o indicador Rural_Homem
O estado SE tem 1 valores nulos para o indicador Rural_Homem
O estado BA tem 2 valores nulos para o indicador Rural_Homem
O estado MG tem 5 valores nulos para o indicador Rural_Homem
O estado ES tem 1 valores nulos para o indicador Rural_Homem
O estado RJ tem 11 valores nulos para o indicador Rural_Homem
O estado SP tem 30 valores nulos para o indicador Rural_Homem
O estado PR tem 2 valores nulos para o indicador Rural_Homem
O estado SC tem 3 valores nulos para o indicador Rural_Homem
O estado RS tem 4 valores nulos para o indicador Rural_Homem
O estado MS tem 0 valores nulos para o indicador Rural_Homem
O estado MT tem 0 valores nulos para o indicador Rural_Homem
O estado GO tem 1 valores nulos para o indicador Rural_Homem
O estado DF tem 0 valores nulos para o indicador Rural_Homem

In [23]:
name = 'Rural_Mulher'
name_id = "39"     #População Jovem Rural: Homem
year_id = "9"      #Ano: 2010

In [24]:
file_name = "Novas/Rural_Mulher.sql"
text_file = open(file_name, "w")

for item in listaUF:
    lista_values = gerar_values(name, name_id, year_id, datasetDict[item])
    lista = gerar_SQL(lista_values)

    for i in lista:
        text_file.write(i + "\n")    

text_file.close()

O estado RO tem 0 valores nulos para o indicador Rural_Mulher
O estado AC tem 0 valores nulos para o indicador Rural_Mulher
O estado AM tem 0 valores nulos para o indicador Rural_Mulher
O estado RR tem 0 valores nulos para o indicador Rural_Mulher
O estado PA tem 0 valores nulos para o indicador Rural_Mulher
O estado AP tem 0 valores nulos para o indicador Rural_Mulher
O estado TO tem 0 valores nulos para o indicador Rural_Mulher
O estado MA tem 0 valores nulos para o indicador Rural_Mulher
O estado PI tem 0 valores nulos para o indicador Rural_Mulher
O estado CE tem 2 valores nulos para o indicador Rural_Mulher
O estado RN tem 2 valores nulos para o indicador Rural_Mulher
O estado PB tem 0 valores nulos para o indicador Rural_Mulher
O estado PE tem 4 valores nulos para o indicador Rural_Mulher
O estado AL tem 0 valores nulos para o indicador Rural_Mulher
O estado SE tem 1 valores nulos para o indicador Rural_Mulher
O estado BA tem 2 valores nulos para o indicador Rural_Mulher
O estado MG tem 5 valores nulos para o indicador Rural_Mulher
O estado ES tem 1 valores nulos para o indicador Rural_Mulher
O estado RJ tem 11 valores nulos para o indicador Rural_Mulher
O estado SP tem 30 valores nulos para o indicador Rural_Mulher
O estado PR tem 2 valores nulos para o indicador Rural_Mulher
O estado SC tem 3 valores nulos para o indicador Rural_Mulher
O estado RS tem 4 valores nulos para o indicador Rural_Mulher
O estado MS tem 0 valores nulos para o indicador Rural_Mulher
O estado MT tem 0 valores nulos para o indicador Rural_Mulher
O estado GO tem 1 valores nulos para o indicador Rural_Mulher
O estado DF tem 0 valores nulos para o indicador Rural_Mulher

In [25]:
for item in listaUF:
    file_name = "Rural_Mulher/" + item +  "_Rural_Mulher.txt"
    lista_values = gerar_values(name, name_id, year_id, datasetDict[item])
    print(len(lista_values))
    lista = gerar_SQL(lista_values)

    #text_file = open(file_name, "w")
    #for i in lista:
    #    text_file.write(i + "\n")    
    #text_file.close()

O estado RO tem 0 valores nulos para o indicador Rural_Mulher
52
O estado AC tem 0 valores nulos para o indicador Rural_Mulher
22
O estado AM tem 0 valores nulos para o indicador Rural_Mulher
62
O estado RR tem 0 valores nulos para o indicador Rural_Mulher
15
O estado PA tem 0 valores nulos para o indicador Rural_Mulher
141
O estado AP tem 0 valores nulos para o indicador Rural_Mulher
16
O estado TO tem 0 valores nulos para o indicador Rural_Mulher
139
O estado MA tem 0 valores nulos para o indicador Rural_Mulher
217
O estado PI tem 0 valores nulos para o indicador Rural_Mulher
224
O estado CE tem 2 valores nulos para o indicador Rural_Mulher
181
O estado RN tem 2 valores nulos para o indicador Rural_Mulher
163
O estado PB tem 0 valores nulos para o indicador Rural_Mulher
223
O estado PE tem 4 valores nulos para o indicador Rural_Mulher
180
O estado AL tem 0 valores nulos para o indicador Rural_Mulher
102
O estado SE tem 1 valores nulos para o indicador Rural_Mulher
74
O estado BA tem 2 valores nulos para o indicador Rural_Mulher
413
O estado MG tem 5 valores nulos para o indicador Rural_Mulher
846
O estado ES tem 1 valores nulos para o indicador Rural_Mulher
77
O estado RJ tem 11 valores nulos para o indicador Rural_Mulher
81
O estado SP tem 30 valores nulos para o indicador Rural_Mulher
611
O estado PR tem 2 valores nulos para o indicador Rural_Mulher
397
O estado SC tem 3 valores nulos para o indicador Rural_Mulher
290
O estado RS tem 4 valores nulos para o indicador Rural_Mulher
492
O estado MS tem 0 valores nulos para o indicador Rural_Mulher
78
O estado MT tem 0 valores nulos para o indicador Rural_Mulher
140
O estado GO tem 1 valores nulos para o indicador Rural_Mulher
245
O estado DF tem 0 valores nulos para o indicador Rural_Mulher
1