# Limpeza de strings

In [10]:
!pip install Unidecode
import unidecode

Requirement already satisfied: Unidecode in /usr/local/lib/python3.6/dist-packages (1.1.1)

In [11]:
def clean_string(str):
    str = str.strip()
    str = str.replace(" ","_") #remover elspaços
    str = str.replace("'","") #remover apóstrofos
    str = str.lower() #colocar tudo em minúsculas
    str = unidecode.unidecode(str) #remover acentuação
    return str

#exemplo
txt = "Nova Brasilândia D'Oeste oração   "
clean_string(txt)

'nova_brasilandia_doeste_oracao'

In [12]:
def clean_string_original(str):
    str = str.strip()
    str = str.replace(" ","") #remover espaços
    str = str.replace("-","") #remover hifen
    str = str.replace("'","") #remover apóstrofos
    str = str.lower() #colocar tudo em minúsculas
    str = unidecode.unidecode(str) #remover acentuação
    return str

#exemplo
txt = "Nova Brasilândia D'Oeste oração   "
clean_string_original(txt)

'novabrasilandiadoesteoracao'

In [13]:
def troca_virgula_por_ponto(text):
    text = str(text)
    text = text.strip()
    text = text.replace(",",".") #trocar por ponto
    return text

#exemplo
txt = "-1,00012 "
troca_virgula_por_ponto(txt)

'-1.00012'

In [14]:
#Paraíba é com acento
def correcao_paraiba(text):
    if (str(text) == 'Paraiba'):
      text = 'Paraíba'   
    if (str(text) == 'Total'):
      text = 'Brasil' 
    return text

In [15]:
def remover_parenteses(text):
    novo = str(text).strip()
    if novo.endswith(')'):
      novo = novo[:-4]
    return novo.strip()

In [102]:
correcoes_dados_dicionario = {
  "Tarauacá ARAUACÁ (AC)": "Tarauacá (AC)"
}

#esses foram duplicados na tabela de nomes
#"Muquém do São Francisco (BA)": "Muquém de São Francisco (BA)",
#"Santa Terezinha (BA)": "Santa Teresinha (BA)",
#"Itapajé (CE)" : "Itapagé (CE)",
#"Florínea (SP)" : "Florínia (SP)",
#"São Caitano (PE)": "São Caetano (PE)"

geo_falta = {
    "Santarém (PB)": "Joca Claudino (PB)",
    "Seridó (PB)": "São Vicente do Seridó (PB)",
    "Boa Saúde (RN)": "Januário Cicco (RN)",
    "Campo Grande (RN)": "Augusto Severo (RN)", #Augusto Severo (Campo Grande)
    "Presidente Juscelino (RN)": "Serra Caiada (RN)",
    "Embu (SP)": "Embu das Artes (SP)"
}

In [103]:
#nomes ligeiramente errados
def correcao_nomes(text):
    if (str(text) in correcoes_dados_dicionario.keys()):
      text = correcoes_dados_dicionario[text]
    return text

In [18]:
#'Itapajé (CE)' in correcoes_leslie.keys()
#correcoes_dados['Itapajé (CE)']

# Nova tabela de lat/lon

In [ ]:
#pegar tabela de municipios
!wget https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/municipios.csv

--2020-09-02 19:25:29--  https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/municipios.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 244570 (239K) [text/plain]
Saving to: ‘municipios.csv’

municipios.csv      100%[===================>] 238.84K  --.-KB/s    in 0.1s

2020-09-02 19:25:31 (2.13 MB/s) - ‘municipios.csv’ saved [244570/244570]

In [ ]:
#pegar tabela de estados
!wget https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/estados.csv

--2020-09-02 19:25:31--  https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/estados.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 851 [text/plain]
Saving to: ‘estados.csv’

estados.csv         100%[===================>]     851  --.-KB/s    in 0s

2020-09-02 19:25:31 (41.5 MB/s) - ‘estados.csv’ saved [851/851]

In [ ]:
import pandas as pd

In [ ]:
estados_file = 'estados.csv'
municipios_file = 'municipios.csv'

## Estados

In [ ]:
estados = pd.read_csv(estados_file)

In [ ]:
estados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codigo_uf  27 non-null     int64
 1   uf         27 non-null     object
 2   nome       27 non-null     object
 3   latitude   27 non-null     float64
 4   longitude  27 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ KB

In [ ]:
estados.head()

   codigo_uf  uf      nome  latitude  longitude
0         11  RO  Rondônia    -10.83     -63.34
1         12  AC      Acre     -8.77     -70.55
2         13  AM  Amazonas     -3.47     -65.10
3         14  RR   Roraima      1.99     -61.33
4         15  PA      Pará     -3.79     -52.48

Criar dicionario com código dos estados

In [ ]:
estados_dict = dict(zip(estados.codigo_uf, estados.uf))

In [ ]:
estados_dict

{11: 'RO',
 12: 'AC',
 13: 'AM',
 14: 'RR',
 15: 'PA',
 16: 'AP',
 17: 'TO',
 21: 'MA',
 22: 'PI',
 23: 'CE',
 24: 'RN',
 25: 'PB',
 26: 'PE',
 27: 'AL',
 28: 'SE',
 29: 'BA',
 31: 'MG',
 32: 'ES',
 33: 'RJ',
 35: 'SP',
 41: 'PR',
 42: 'SC',
 43: 'RS',
 50: 'MS',
 51: 'MT',
 52: 'GO',
 53: 'DF'}

In [ ]:
def troca_codigo_uf(codigo):
    novo = str(estados_dict[codigo]).strip()
    return novo

In [ ]:
estados.columns

Index(['codigo_uf', 'uf', 'nome', 'latitude', 'longitude'], dtype='object')

In [ ]:
novas_colunas = ['codigo_ibge', 'uf', 'nome', 'latitude', 'longitude']

In [ ]:
estados.columns = novas_colunas

In [ ]:
estados['capital'] = 2

In [ ]:
estados.head()

   codigo_ibge  uf      nome  latitude  longitude  capital
0           11  RO  Rondônia    -10.83     -63.34        2
1           12  AC      Acre     -8.77     -70.55        2
2           13  AM  Amazonas     -3.47     -65.10        2
3           14  RR   Roraima      1.99     -61.33        2
4           15  PA      Pará     -3.79     -52.48        2

## Municipios

In [ ]:
municipios = pd.read_csv(municipios_file)

In [ ]:
municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5570 non-null   int64
 1   nome         5570 non-null   object
 2   latitude     5570 non-null   float64
 3   longitude    5570 non-null   float64
 4   capital      5570 non-null   int64
 5   codigo_uf    5570 non-null   int64
dtypes: float64(2), int64(3), object(1)
memory usage: 261.2+ KB

In [ ]:
municipios.head()

   codigo_ibge                 nome  latitude  longitude  capital  codigo_uf
0      5200050      Abadia de Goiás -16.75730   -49.4412        0         52
1      3100104  Abadia dos Dourados -18.48310   -47.3916        0         31
2      5200100            Abadiânia -16.19700   -48.7057        0         52
3      3100203               Abaeté -19.15510   -45.4444        0         31
4      1500107           Abaetetuba  -1.72183   -48.8788        0         15

In [ ]:
municipios['uf'] = municipios['codigo_uf'].apply(troca_codigo_uf)

In [ ]:
municipios.head()

   codigo_ibge                 nome  latitude  ...  capital  codigo_uf  uf
0      5200050      Abadia de Goiás -16.75730  ...        0         52  GO
1      3100104  Abadia dos Dourados -18.48310  ...        0         31  MG
2      5200100            Abadiânia -16.19700  ...        0         52  GO
3      3100203               Abaeté -19.15510  ...        0         31  MG
4      1500107           Abaetetuba  -1.72183  ...        0         15  PA

[5 rows x 7 columns]

In [ ]:
municipios.drop(columns='codigo_uf', inplace=True)

## juntar as duas

In [ ]:
#juntas = pd.concat(estados, municipios,ignore_index = False)
vertical_stack = pd.concat([estados, municipios],ignore_index = False, axis=0)

In [ ]:
vertical_stack

      codigo_ibge  uf         nome  latitude  longitude  capital
0              11  RO     Rondônia -10.83000   -63.3400        2
1              12  AC         Acre  -8.77000   -70.5500        2
2              13  AM     Amazonas  -3.47000   -65.1000        2
3              14  RR      Roraima   1.99000   -61.3300        2
4              15  PA         Pará  -3.79000   -52.4800        2
...           ...  ..          ...       ...        ...      ...
5565      2933604  BA  Xique-Xique -10.82300   -42.7245        0
5566      2517407  PB       Zabelê  -8.07901   -37.1057        0
5567      3557154  SP     Zacarias -21.05060   -50.0552        0
5568      2114007  MA      Zé Doca  -3.27014   -45.6553        0
5569      4219853  SC       Zortéa -27.45210   -51.5520        0

[5597 rows x 6 columns]

## Novas linhas para correções

Dados Leslie:
*   "Muquém do São Francisco (BA)": "Muquém de São Francisco (BA)",
* "Santa Terezinha (BA)": "Santa Teresinha (BA)",
*  "Itapajé (CE)" : "Itapagé (CE)",
*  "Florínea (SP)" : "Florínia (SP)",
*  "São Caitano (PE)": "São Caetano (PE)"

Tabela antiga GEO
*    "Santarém (PB)": "Joca Claudino (PB)",
*    "Seridó (PB)": "São Vicente do Seridó (PB)",
*    "Boa Saúde (RN)": "Januário Cicco (RN)",
*    "Campo Grande (RN)": "Augusto Severo (RN)", #Augusto Severo (Campo Grande)
*    "Presidente Juscelino (RN)": "Serra Caiada (RN)",
*    "Embu (SP)": "Embu das Artes (SP)"

mais alguns:
* Serra do Navio (PA): Serra do Navio (AP)
* Eldorado dos Carajás (PA): Eldorado do Carajás (PA)
* Santa Isabel do Pará (PA): Santa Izabel do Pará (PA): 
* Iguaraci(PE): Iguaracy (PE)
* Brasópolis(MG): Brazópolis (MG)
* Poxoréo (MT): Poxoréu (MT)
* Moji Mirim (SP): Mogi Mirim (SP)
* São Luís do Paraitinga (SP): São Luiz do Paraitinga (SP)
* São Valério da Natividade (TO): São Valério (TO)

In [ ]:
#definicao de funções para ajudar
def get_linha_original(dataset, index):
    original = dataset.loc[index].tolist()
    #print(original)
    print(original[2])
    return original

def change_nome_linha(original, nome):
    linha = original.copy()
    linha[2] = nome
    print(nome)
    return linha

In [ ]:
novas_linhas = []

### Rio Grande do Norte

In [ ]:
RN = vertical_stack.loc[vertical_stack['uf'] == 'RN']

RN Augusto Severo (Campo Grande)	-5.86206	-37.3135	0

In [ ]:
RN.loc[RN["nome"] == 'Augusto Severo (Campo Grande)']

     codigo_ibge  uf  ... longitude  capital
427      2401305  RN  ...  -37.3135        0

[1 rows x 6 columns]

In [ ]:
index = RN.loc[RN["nome"] == 'Augusto Severo (Campo Grande)'].index.tolist()[0]

In [ ]:
original = get_linha_original(RN, index)

Augusto Severo (Campo Grande)

In [ ]:
linha = change_nome_linha(original, 'Augusto Severo')

Augusto Severo

In [ ]:
#adicionar linha Augusto Severo ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0]]

In [ ]:
linha = change_nome_linha(original, 'Campo Grande')

Campo Grande

In [ ]:
#adicionar linha Campo Grande ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0]]

RN	Januário Cicco (Boa Saúde)	-6.16566	-35.6219	0

In [ ]:
index = RN.loc[RN["nome"] == 'Januário Cicco (Boa Saúde)'].index.tolist()[0]
RN.loc[RN["nome"] == 'Januário Cicco (Boa Saúde)']

      codigo_ibge  uf                        nome  latitude  longitude  capital
2519      2405306  RN  Januário Cicco (Boa Saúde)  -6.16566   -35.6219        0

In [ ]:
original = get_linha_original(RN, index)

Januário Cicco (Boa Saúde)

In [ ]:
linha = change_nome_linha(original, 'Januário Cicco')

Januário Cicco

In [ ]:
#adicionar linha Januário Cicco ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0]]

In [ ]:
linha = change_nome_linha(original, 'Boa Saúde')

Boa Saúde

In [ ]:
#adicionar linha Boa Saúde ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0]]

### Bahia

In [ ]:
BA = vertical_stack.loc[vertical_stack['uf'] == 'BA']

"Muquém do São Francisco (BA)": "Muquém de São Francisco (BA)"

In [ ]:
index = BA.loc[BA["nome"] == 'Muquém de São Francisco'].index.tolist()[0]
BA.loc[BA["nome"] == 'Muquém de São Francisco']

      codigo_ibge  uf                     nome  latitude  longitude  capital
3220      2922250  BA  Muquém de São Francisco   -12.065   -43.5497        0

In [ ]:
original = get_linha_original(BA, index)

Muquém de São Francisco

In [ ]:
linha = change_nome_linha(original, 'Muquém do São Francisco')

Muquém do São Francisco

In [ ]:
#adicionar linha Muquém do São Francisco ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0], [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0]]

"Santa Terezinha (BA)": "Santa Teresinha (BA)"

In [ ]:
index = BA.loc[BA["nome"] == 'Santa Teresinha'].index.tolist()[0]
BA.loc[BA["nome"] == 'Santa Teresinha']

      codigo_ibge  uf             nome  latitude  longitude  capital
4479      2928505  BA  Santa Teresinha  -12.7697   -39.5215        0

In [ ]:
original = get_linha_original(BA, index)

Santa Teresinha

In [ ]:
linha = change_nome_linha(original, 'Santa Terezinha')

Santa Terezinha

In [ ]:
#adicionar linha Santa Terezinha ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0], [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0], [2928505, 'BA', 'Santa Terezinha', -12.7697, -39.5215, 0]]

### Ceará

In [ ]:
CE = vertical_stack.loc[vertical_stack['uf'] == 'CE']

"Itapajé (CE)" : "Itapagé (CE)"

In [ ]:
n = 'Itapajé'
index = CE.loc[CE["nome"] == n].index.tolist()[0]
CE.loc[CE["nome"] == n]

      codigo_ibge  uf     nome  latitude  longitude  capital
2358      2306306  CE  Itapajé  -3.68314   -39.5855        0

In [ ]:
original = get_linha_original(CE, index)

Itapajé

In [ ]:
linha = change_nome_linha(original, 'Itapagé')

Itapagé

In [ ]:
#adicionar linha Itapagé ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0], [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0], [2928505, 'BA', 'Santa Terezinha', -12.7697, -39.5215, 0], [2306306, 'CE', 'Itapagé', -3.6831400000000003, -39.5855, 0]]

### São Paulo
"Florínea (SP)" : "Florínia (SP)", "Embu (SP)": "Embu das Artes (SP)" Moji Mirim (SP): Mogi Mirim (SP) São Luís do Paraitinga (SP): São Luiz do Paraitinga (SP)

In [ ]:
SP = vertical_stack.loc[vertical_stack['uf'] == 'SP']

In [ ]:
n = 'Florínia'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf      nome  latitude  longitude  capital
1815      3516101  SP  Florínia   -22.868   -50.6814        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'Florínea')
novas_linhas.append(linha)

Florínia
Florínea

In [ ]:
n = 'Embu das Artes'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf            nome  latitude  longitude  capital
1656      3515004  SP  Embu das Artes  -23.6437   -46.8579        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'Embu')
novas_linhas.append(linha)

Embu das Artes
Embu

In [ ]:
n = 'Mogi Mirim'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf        nome  latitude  longitude  capital
3111      3530805  SP  Mogi Mirim  -22.4332   -46.9532        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'Moji Mirim')
novas_linhas.append(linha)

Mogi Mirim
Moji Mirim

In [ ]:
n = 'São Luiz do Paraitinga'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf                    nome  latitude  longitude  capital
4818      3550001  SP  São Luiz do Paraitinga   -23.222   -45.3109        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'São Luís do Paraitinga')
novas_linhas.append(linha)

São Luiz do Paraitinga
São Luís do Paraitinga

### Pará

In [ ]:
PA = vertical_stack.loc[vertical_stack['uf'] == 'PA']

In [ ]:
n = 'Eldorado do Carajás'
index = PA.loc[PA["nome"] == n].index.tolist()[0]
PA.loc[PA["nome"] == n]

      codigo_ibge  uf                 nome  latitude  longitude  capital
1646      1502954  PA  Eldorado do Carajás  -6.10389   -49.3553        0

In [ ]:
original = get_linha_original(PA, index)
linha = change_nome_linha(original, 'Eldorado dos Carajás')
novas_linhas.append(linha)

Eldorado do Carajás
Eldorado dos Carajás

In [ ]:
n = 'Santa Izabel do Pará'
index = PA.loc[PA["nome"] == n].index.tolist()[0]
PA.loc[PA["nome"] == n]

      codigo_ibge  uf                  nome  latitude  longitude  capital
4413      1506500  PA  Santa Izabel do Pará  -1.29686   -48.1606        0

In [ ]:
original = get_linha_original(PA, index)
linha = change_nome_linha(original, 'Santa Isabel do Pará')
novas_linhas.append(linha)

Santa Izabel do Pará
Santa Isabel do Pará

### PB

In [ ]:
PB = vertical_stack.loc[vertical_stack['uf'] == 'PB']

In [ ]:
n = 'Joca Claudino'
index = PB.loc[PB["nome"] == n].index.tolist()[0]
PB.loc[PB["nome"] == n]

      codigo_ibge  uf           nome  latitude  longitude  capital
2603      2513653  PB  Joca Claudino  -6.48362   -38.4764        0

In [ ]:
original = get_linha_original(PB, index)
linha = change_nome_linha(original, 'Santarém')
novas_linhas.append(linha)

Joca Claudino
Santarém

In [ ]:
n = 'São Vicente do Seridó'
index = PB.loc[PB["nome"] == n].index.tolist()[0]
PB.loc[PB["nome"] == n]

      codigo_ibge  uf                   nome  latitude  longitude  capital
4922      2515401  PB  São Vicente do Seridó  -6.85426   -36.4122        0

In [ ]:
original = get_linha_original(PB, index)
linha = change_nome_linha(original, 'Seridó')
novas_linhas.append(linha)

São Vicente do Seridó
Seridó

### PE

In [ ]:
PE = vertical_stack.loc[vertical_stack['uf'] == 'PE']

In [ ]:
n = 'São Caetano'
index = PE.loc[PE["nome"] == n].index.tolist()[0]
PE.loc[PE["nome"] == n]

      codigo_ibge  uf         nome  latitude  longitude  capital
4603      2613107  PE  São Caetano  -8.33763   -36.2869        0

In [ ]:
original = get_linha_original(PE, index)
linha = change_nome_linha(original, 'São Caitano')
novas_linhas.append(linha)

São Caetano
São Caitano

In [ ]:
n = 'Iguaracy'
index = PE.loc[PE["nome"] == n].index.tolist()[0]
PE.loc[PE["nome"] == n]

      codigo_ibge  uf      nome  latitude  longitude  capital
2158      2606903  PE  Iguaracy  -7.83222   -37.5082        0

In [ ]:
original = get_linha_original(PE, index)
linha = change_nome_linha(original, 'Iguaraci')
novas_linhas.append(linha)

Iguaracy
Iguaraci

### MG

In [ ]:
MG = vertical_stack.loc[vertical_stack['uf'] == 'MG']

In [ ]:
n = 'Brazópolis'
index = MG.loc[MG["nome"] == n].index.tolist()[0]
MG.loc[MG["nome"] == n]

     codigo_ibge  uf        nome  latitude  longitude  capital
761      3108909  MG  Brazópolis  -22.4743   -45.6166        0

In [ ]:
original = get_linha_original(MG, index)
linha = change_nome_linha(original, 'Brasópolis')
novas_linhas.append(linha)

Brazópolis
Brasópolis

### MT

In [ ]:
MT = vertical_stack.loc[vertical_stack['uf'] == 'MT']

In [ ]:
n = 'Poxoréu'
index = MT.loc[MT["nome"] == n].index.tolist()[0]
MT.loc[MT["nome"] == n]

      codigo_ibge  uf     nome  latitude  longitude  capital
3993      5107008  MT  Poxoréu  -15.8299   -54.4208        0

In [ ]:
original = get_linha_original(MT, index)
linha = change_nome_linha(original, 'Poxoréo')
novas_linhas.append(linha)

Poxoréu
Poxoréo

### TO

In [ ]:
TO = vertical_stack.loc[vertical_stack['uf'] == 'TO']

In [ ]:
n = 'São Valério'
index = TO.loc[TO["nome"] == n].index.tolist()[0]
TO.loc[TO["nome"] == n]

      codigo_ibge  uf         nome  latitude  longitude  capital
4916      1720499  TO  São Valério  -11.9743   -48.2353        0

In [ ]:
original = get_linha_original(TO, index)
linha = change_nome_linha(original, 'São Valério da Natividade')
novas_linhas.append(linha)

São Valério
São Valério da Natividade

### Final

In [ ]:
len(novas_linhas)

20

In [ ]:
novas_linhas

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0],
 [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0],
 [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0],
 [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0],
 [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0],
 [2928505, 'BA', 'Santa Terezinha', -12.7697, -39.5215, 0],
 [2306306, 'CE', 'Itapagé', -3.6831400000000003, -39.5855, 0],
 [3516101, 'SP', 'Florínea', -22.868000000000002, -50.6814, 0],
 [3515004, 'SP', 'Embu', -23.6437, -46.8579, 0],
 [3530805, 'SP', 'Moji Mirim', -22.4332, -46.9532, 0],
 [3550001, 'SP', 'São Luís do Paraitinga', -23.221999999999998, -45.3109, 0],
 [1502954, 'PA', 'Eldorado dos Carajás', -6.10389, -49.3553, 0],
 [1506500, 'PA', 'Santa Isabel do Pará', -1.2968600000000001, -48.1606, 0],
 [2513653, 'PB', 'Santarém', -6.483619999999999, -38.4764, 0],
 [2515401, 'PB', 'Seridó', -6.854260000000001, -36.4122, 0],
 [2613107, 'PE', 'São Caitano', -8.33763, -36.2869, 0],
 [2606903, 'PE', 'Iguaraci', -7.8322199999999995, -37.5082, 0],
 [3108909, 'MG', 'Brasópolis', -22.4743, -45.6166, 0],
 [5107008, 'MT', 'Poxoréo', -15.8299, -54.4208, 0],
 [1720499, 'TO', 'São Valério da Natividade', -11.9743, -48.2353, 0]]

Criar novo dataframe

In [ ]:
vertical_stack.columns

Index(['codigo_ibge', 'uf', 'nome', 'latitude', 'longitude', 'capital'], dtype='object')

In [ ]:
df = pd.DataFrame(columns=vertical_stack.columns)

In [ ]:
for row in novas_linhas:
    df.loc[len(df)] = row

In [ ]:
df

   codigo_ibge  uf                       nome  latitude  longitude capital
0      2401305  RN             Augusto Severo  -5.86206   -37.3135       0
1      2401305  RN               Campo Grande  -5.86206   -37.3135       0
2      2405306  RN             Januário Cicco  -6.16566   -35.6219       0
3      2405306  RN                  Boa Saúde  -6.16566   -35.6219       0
4      2922250  BA    Muquém do São Francisco -12.06500   -43.5497       0
5      2928505  BA            Santa Terezinha -12.76970   -39.5215       0
6      2306306  CE                    Itapagé  -3.68314   -39.5855       0
7      3516101  SP                   Florínea -22.86800   -50.6814       0
8      3515004  SP                       Embu -23.64370   -46.8579       0
9      3530805  SP                 Moji Mirim -22.43320   -46.9532       0
10     3550001  SP     São Luís do Paraitinga -23.22200   -45.3109       0
11     1502954  PA       Eldorado dos Carajás  -6.10389   -49.3553       0
12     1506500  PA       Santa Isabel do Pará  -1.29686   -48.1606       0
13     2513653  PB                   Santarém  -6.48362   -38.4764       0
14     2515401  PB                     Seridó  -6.85426   -36.4122       0
15     2613107  PE                São Caitano  -8.33763   -36.2869       0
16     2606903  PE                   Iguaraci  -7.83222   -37.5082       0
17     3108909  MG                 Brasópolis -22.47430   -45.6166       0
18     5107008  MT                    Poxoréo -15.82990   -54.4208       0
19     1720499  TO  São Valério da Natividade -11.97430   -48.2353       0

In [ ]:
vertical_corretas = pd.concat([vertical_stack, df],ignore_index = False, axis=0)

## Salvar tabela final

In [ ]:
#vertical_stack.to_csv('nova_geo.csv', index=False, encoding='utf-8')

In [ ]:
vertical_corretas.to_csv('nova_geo_corrigida.csv', index=False, encoding='utf-8')

# Abrir tabela de lat/lon

In [50]:
#geo_file = 'municipios_BR_latlon.csv'
#geo_file = 'tabela.csv'
geo_file = 'nova_geo_corrigida.csv'

In [51]:
import pandas as pd

In [52]:
#geo = pd.read_csv(geo_file, sep='\t', index_col=0, names = ['index', 'nome', 'latitude', 'longitude', 'cep', 'estado', 'uf'])
geo = pd.read_csv(geo_file)

In [53]:
geo.head()

   codigo_ibge  uf      nome   latitude  longitude  capital
0            1  BR    Brasil -13.495277 -71.577063        2
1           11  RO  Rondônia -10.830000 -63.340000        2
2           12  AC      Acre  -8.770000 -70.550000        2
3           13  AM  Amazonas  -3.470000 -65.100000        2
4           14  RR   Roraima   1.990000 -61.330000        2

In [54]:
#geo['latitude'] = geo['latitude'].apply(troca_virgula_por_ponto)
#geo['longitude'] = geo['longitude'].apply(troca_virgula_por_ponto)

In [55]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5618 entries, 0 to 5617
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5618 non-null   int64
 1   uf           5618 non-null   object
 2   nome         5618 non-null   object
 3   latitude     5618 non-null   float64
 4   longitude    5618 non-null   float64
 5   capital      5618 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 263.5+ KB

In [56]:
geo['uf'].value_counts()

MG    855
SP    650
RS    498
BA    420
PR    400
SC    296
GO    247
PB    226
PI    225
MA    218
PE    188
CE    186
RN    172
PA    147
MT    143
TO    141
AL    103
RJ     93
MS     80
ES     79
SE     76
AM     63
RO     53
AC     23
AP     17
RR     16
DF      2
BR      1
Name: uf, dtype: int64

In [57]:
geo.loc[geo['uf']=='AC']

      codigo_ibge  uf                  nome  latitude  longitude  capital
2              12  AC                  Acre  -8.77000   -70.5500        2
54        1200013  AC            Acrelândia  -9.82581   -66.8972        0
438       1200054  AC          Assis Brasil -10.92980   -69.5738        0
781       1200104  AC             Brasiléia -10.99500   -68.7497        0
824       1200138  AC                Bujari  -9.81528   -67.9550        0
1110      1200179  AC              Capixaba -10.56600   -67.6860        0
1513      1200203  AC       Cruzeiro do Sul  -7.62762   -72.6756        0
1706      1200252  AC        Epitaciolândia -11.01880   -68.7341        0
1784      1200302  AC                 Feijó  -8.17054   -70.3510        0
2636      1200328  AC                Jordão  -9.43091   -71.8974        0
2914      1200336  AC           Mâncio Lima  -7.61657   -72.8997        0
2928      1200344  AC         Manoel Urbano  -8.83291   -69.2679        0
2974      1200351  AC  Marechal Thaumaturgo  -8.93898   -72.7997        0
3901      1200385  AC     Plácido de Castro -10.28060   -67.1371        0
3974      1200807  AC            Porto Acre  -9.58138   -67.5478        0
4008      1200393  AC          Porto Walter  -8.26323   -72.7537        0
4221      1200401  AC            Rio Branco  -9.97499   -67.8243        1
4289      1200427  AC       Rodrigues Alves  -7.73864   -72.6610        0
4502      1200435  AC   Santa Rosa do Purus  -9.44652   -70.4902        0
4990      1200500  AC        Sena Madureira  -9.06596   -68.6571        0
4998      1200450  AC      Senador Guiomard -10.14970   -67.7362        0
5205      1200609  AC              Tarauacá  -8.15697   -70.7722        0
5588      1200708  AC                Xapuri -10.65160   -68.4969        0

# Abrir tabela de estados

In [27]:
file_name = 'Eixo2-Tabela1.xlsx'

In [28]:
#tabela = pd.read_csv(file_name, sep=';',  encoding = "ISO-8859-1")
tabela = pd.read_excel(file_name)

In [29]:
tabela.head()

  Sigla da UF         UF  ...  Doutorado    Total
0           AC      Acre  ...         79   214736
1           AL   Alagoas  ...        109   875069
2           AP     Amapá  ...          0   205477
3           AM  Amazonas  ...        330  1027725
4           BA     Bahia  ...        556  3939230

[5 rows x 13 columns]

In [31]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 13 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Sigla da UF                                                              28 non-null     object
 1   UF                                                                       28 non-null     object
 2   Não aplicável (Pessoas que não estão estudando)                          28 non-null     int64
 3   Alfabetização de jovens e adultos                                        28 non-null     int64
 4   Regular do ensino fundamental                                            28 non-null     int64
 5   Educação de jovens e adultos - EJA - ou supletivo do ensino fundamental  28 non-null     int64
 6   Regular do ensino médio                                                  28 non-null     int64
 7   Educação de jovens e adultos - EJA - ou supletivo do ensino médio        28 non-null     int64
 8   Superior de graduação                                                    28 non-null     int64
 9   Especialização de nível superior (mínimo de 360 horas)                   28 non-null     int64
 10  Mestrado                                                                 28 non-null     int64
 11  Doutorado                                                                28 non-null     int64
 12  Total                                                                    28 non-null     int64
dtypes: int64(11), object(2)
memory usage: 3.0+ KB

In [32]:
tabela.columns

Index(['Sigla da UF ', 'UF', 'Não aplicável (Pessoas que não estão estudando)',
       'Alfabetização de jovens e adultos', 'Regular do ensino fundamental',
       'Educação de jovens e adultos - EJA - ou supletivo do ensino fundamental',
       'Regular do ensino médio',
       'Educação de jovens e adultos - EJA - ou supletivo do ensino médio',
       'Superior de graduação',
       'Especialização de nível superior (mínimo de 360 horas)', 'Mestrado',
       'Doutorado', 'Total'],
      dtype='object')

In [33]:
novas_colunas = []
for i in tabela.columns:
  print(i)
  novas_colunas.append(clean_string(i))

Sigla da UF
UF
Não aplicável (Pessoas que não estão estudando)
Alfabetização de jovens e adultos
Regular do ensino fundamental
Educação de jovens e adultos - EJA - ou supletivo do ensino fundamental
Regular do ensino médio
Educação de jovens e adultos - EJA - ou supletivo do ensino médio
Superior de graduação
Especialização de nível superior (mínimo de 360 horas)
Mestrado
Doutorado
Total

In [34]:
novas_colunas

['sigla_da_uf',
 'uf',
 'nao_aplicavel_(pessoas_que_nao_estao_estudando)',
 'alfabetizacao_de_jovens_e_adultos',
 'regular_do_ensino_fundamental',
 'educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_fundamental',
 'regular_do_ensino_medio',
 'educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_medio',
 'superior_de_graduacao',
 'especializacao_de_nivel_superior_(minimo_de_360_horas)',
 'mestrado',
 'doutorado',
 'total']

In [35]:
for i in range(len(novas_colunas)):
  if novas_colunas[i] == 'uf':
    novas_colunas[i] = 'nome'
  
for i in range(len(novas_colunas)):
  if novas_colunas[i] == 'sigla_da_uf':
    novas_colunas[i] = 'uf'

In [36]:
#tabela.columns = ['uf', 'nome', 'Sim (Frequência)',	'Sim (%)', 'Não (Frequência)', 'Não (%)', 'Total']
tabela.columns = novas_colunas

In [37]:
tabela['uf'].value_counts()

RS       1
GO       1
ES       1
SP       1
DF       1
PR       1
AC       1
AL       1
MS       1
RO       1
PI       1
TO       1
RN       1
RR       1
SC       1
SE       1
PE       1
MT       1
AM       1
CE       1
BA       1
MA       1
PA       1
PB       1
Total    1
MG       1
RJ       1
AP       1
Name: uf, dtype: int64

In [38]:
#tabela.loc[tabela['uf']=='BR']

Empty DataFrame
Columns: [uf, nome, nao_aplicavel_(pessoas_que_nao_estao_estudando), alfabetizacao_de_jovens_e_adultos, regular_do_ensino_fundamental, educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_fundamental, regular_do_ensino_medio, educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_medio, superior_de_graduacao, especializacao_de_nivel_superior_(minimo_de_360_horas), mestrado, doutorado, total]
Index: []

In [42]:
tabela.tail()

       uf            nome  ...  doutorado     total
23     SC  Santa Catarina  ...        884   1677721
24     SP       São Paulo  ...       8839  10728565
25     SE         Sergipe  ...        138    592205
26     TO       Tocantins  ...         80    396335
27  Total          Brasil  ...      24340  51330467

[5 rows x 13 columns]

In [39]:
#paraíba é com acento
tabela['nome'] = tabela['nome'].apply(correcao_paraiba)

In [ ]:
#como é tabela de estados, mudar todas as UF para BR
#tabela['uf'] = 'BR'

In [48]:
tabela.at[27,'uf'] = 'BR'

In [49]:
tabela.tail()

    uf            nome  ...  doutorado     total
23  SC  Santa Catarina  ...        884   1677721
24  SP       São Paulo  ...       8839  10728565
25  SE         Sergipe  ...        138    592205
26  TO       Tocantins  ...         80    396335
27  BR          Brasil  ...      24340  51330467

[5 rows x 13 columns]

# Abrir tabela de municipios

In [125]:
file_name = 'Eixo2-Tabela3.xlsx'
tabela = pd.read_excel(file_name)

In [126]:
tabela.head()

  Sigla da UF        UF/Município  ...  Não Percentual     Total
0           AC              Acre   ...        0.065485  214736.0
1           AC    Acrelândia (AC)  ...        0.032689    3365.0
2           AC  Assis Brasil (AC)  ...        0.081808    1748.0
3           AC     Brasiléia (AC)  ...        0.054867    6051.0
4           AC        Bujari (AC)  ...        0.079500    2239.0

[5 rows x 7 columns]

In [127]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5596 entries, 0 to 5595
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sigla da UF     5596 non-null   object
 1   UF/Município    5592 non-null   object
 2   Sim Frequência  5592 non-null   float64
 3   Sim Percentual  5592 non-null   float64
 4   Não Frequência  5542 non-null   float64
 5   Não Percentual  5592 non-null   float64
 6   Total           5592 non-null   float64
dtypes: float64(5), object(2)
memory usage: 306.2+ KB

In [128]:
tabela.columns

Index(['Sigla da UF ', 'UF/Município', 'Sim Frequência', 'Sim Percentual',
       'Não Frequência', 'Não Percentual', 'Total'],
      dtype='object')

In [129]:
novas_colunas = []
for i in tabela.columns:
  print(i)
  novas_colunas.append(clean_string(i))

Sigla da UF
UF/Município
Sim Frequência
Sim Percentual
Não Frequência
Não Percentual
Total

In [130]:
novas_colunas

['sigla_da_uf',
 'uf/municipio',
 'sim_frequencia',
 'sim_percentual',
 'nao_frequencia',
 'nao_percentual',
 'total']

In [131]:
for i in range(len(novas_colunas)):
  if novas_colunas[i] == 'uf/municipio':
    novas_colunas[i] = 'nome'
  
for i in range(len(novas_colunas)):
  if novas_colunas[i] == 'sigla_da_uf':
    novas_colunas[i] = 'uf'

In [132]:
#tabela.columns = ['uf', 'nome', 'Sim (Frequência)',	'Sim (%)', 'Não (Frequência)', 'Não (%)', 'Total']
tabela.columns = novas_colunas

Remover linhas de regiões

In [133]:
regioes = ['Região Centro Oeste','Região Sudeste','Região Nordeste','Região Sul','Região Norte']

In [134]:
for r in regioes:
  index = tabela[ tabela['uf'] == r].index.tolist() #[2260, dtype=string]
  if index:
    print(tabela.loc[index[0]])

uf                Região Centro Oeste
nome                              NaN
sim_frequencia                    NaN
sim_percentual                    NaN
nao_frequencia                    NaN
nao_percentual                    NaN
total                             NaN
Name: 2260, dtype: object
uf                Região Sudeste
nome                         NaN
sim_frequencia               NaN
sim_percentual               NaN
nao_frequencia               NaN
nao_percentual               NaN
total                        NaN
Name: 2731, dtype: object
uf                Região Nordeste
nome                          NaN
sim_frequencia                NaN
sim_percentual                NaN
nao_frequencia                NaN
nao_percentual                NaN
total                         NaN
Name: 456, dtype: object
uf                Região Sul
nome                     NaN
sim_frequencia           NaN
sim_percentual           NaN
nao_frequencia           NaN
nao_percentual           NaN
total                    NaN
Name: 4404, dtype: object

In [135]:
remover = []
for r in regioes:
  index = tabela[ tabela['uf'] == r].index.tolist() #[2260, dtype=string]
  if index:
    remover.append(index[0])

In [136]:
remover

[2260, 2731, 456, 4404]

In [137]:
tabela.drop(remover , inplace=True)

Valores nulos

In [138]:
#tabela.isna().any(axis=1)

In [139]:
tabela[tabela.isna().any(axis=1)]

      uf                         nome  ...  nao_percentual   total
2331  GO         Córrego do Ouro (GO)  ...             0.0   551.0
2340  GO              Damolândia (GO)  ...             0.0   666.0
2364  GO                Guaraíta (GO)  ...             0.0   495.0
2458  GO                  Rialma (GO)  ...             0.0  2589.0
2825  MG               Albertina (MG)  ...             0.0   712.0
2853  MG                  Arapuá (MG)  ...             0.0   564.0
2924  MG                 Camacho (MG)  ...             0.0   787.0
2965  MG         Carmo do Cajuru (MG)  ...             0.0  5041.0
3594  MG        Serra da Saudade (MG)  ...             0.0   193.0
3611  MG                  Tapira (MG)  ...             0.0  1122.0
3621  MG           Tocos do Moji (MG)  ...             0.0   880.0
3774  SP         Álvares Machado (SP)  ...             0.0  5823.0
3916  SP            Dolcinópolis (SP)  ...             0.0   430.0
3963  SP         Guarani d'Oeste (SP)  ...             0.0   445.0
3997  SP         Inúbia Paulista (SP)  ...             0.0   878.0
4286  SP  Santana da Ponte Pensa (SP)  ...             0.0   318.0
4331  SP  Sebastianópolis do Sul (SP)  ...             0.0   752.0
4627  PR               Miraselva (PR)  ...             0.0   453.0
4695  PR           Quatro Pontes (PR)  ...             0.0   868.0
4889  RS           Capão do Cipó (RS)  ...             0.0   692.0
4916  RS                 Colinas (RS)  ...             0.0   488.0
4922  RS          Coronel Barros (RS)  ...             0.0   484.0
4931  RS             Cruzaltense (RS)  ...             0.0   452.0
4967  RS         Fagundes Varela (RS)  ...             0.0   494.0
4977  RS             Forquetinha (RS)  ...             0.0   454.0
5022  RS                   Ivorá (RS)  ...             0.0   457.0
5035  RS   Lagoa dos Três Cantos (RS)  ...             0.0   325.0
5061  RS                Montauri (RS)  ...             0.0   308.0
5085  RS              Nova Palma (RS)  ...             0.0  1594.0
5119  RS         Pinhal da Serra (RS)  ...             0.0   456.0
5132  RS              Porto Mauá (RS)  ...             0.0   507.0
5138  RS          Protásio Alves (RS)  ...             0.0   391.0
5145  RS                 Relvado (RS)  ...             0.0   395.0
5160  RS        Saldanha Marinho (RS)  ...             0.0   615.0
5162  RS    Salvador das Missões (RS)  ...             0.0   541.0
5166  RS    Santa Cecília do Sul (RS)  ...             0.0   336.0
5175  RS            Santa Tereza (RS)  ...             0.0   318.0
5187  RS     São Domingos do Sul (RS)  ...             0.0   654.0
5238  RS        Silveira Martins (RS)  ...             0.0   506.0
5255  RS                  Toropi (RS)  ...             0.0   566.0
5259  RS            Três Arroios (RS)  ...             0.0   535.0
5292  RS             Vila Flores (RS)  ...             0.0   772.0
5366  SC             Celso Ramos (SC)  ...             0.0   674.0
5451  SC                 Lontras (SC)  ...             0.0  2672.0
5453  SC                 Luzerna (SC)  ...             0.0  1311.0
5501  SC                Pomerode (SC)  ...             0.0  7210.0
5514  SC         Rancho Queimado (SC)  ...             0.0   626.0
5545  SC       São João do Oeste (SC)  ...             0.0  1407.0
5574  SC                 Treviso (SC)  ...             0.0   893.0
5583  SC                 Urupema (SC)  ...             0.0   539.0

[50 rows x 7 columns]

In [140]:
#transforma todos os vazios em zero
tabela = tabela.fillna(0)

In [141]:
#checar que os valores são float ou int
tabela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5592 entries, 0 to 5595
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   uf              5592 non-null   object
 1   nome            5592 non-null   object
 2   sim_frequencia  5592 non-null   float64
 3   sim_percentual  5592 non-null   float64
 4   nao_frequencia  5592 non-null   float64
 5   nao_percentual  5592 non-null   float64
 6   total           5592 non-null   float64
dtypes: float64(5), object(2)
memory usage: 349.5+ KB

In [142]:
# convert column "a" to int64 dtype and "b" to complex type
#tabela = tabela.astype({"Sim (Frequência)": float, "Não (Frequência)": float, 'Não (%)': float})

In [143]:
#alguns nomes de cidade ligeiramente diferentes
tabela['nome'] = tabela['nome'].apply(correcao_nomes)

In [144]:
#nao vou remover a sigla pois a tabela de dados contém os estados (nome igual)
#tabela['nome'] = tabela['nome'].apply(remover_parenteses)

In [145]:
tabela['nome']

0                   Acre
1         Acrelândia (AC)
2       Assis Brasil (AC)
3          Brasiléia (AC)
4             Bujari (AC)
              ...
5591       Witmarsum (SC)
5592         Xanxerê (SC)
5593       Xavantina (SC)
5594           Xaxim (SC)
5595          Zortéa (SC)
Name: nome, Length: 5592, dtype: object

# Encontrar lat lon certa

In [58]:
geo.loc[geo['nome']=='Brasil']

   codigo_ibge  uf    nome   latitude  longitude  capital
0            1  BR  Brasil -13.495277 -71.577063        2

In [59]:
geo.loc[geo['uf']=='AC']

      codigo_ibge  uf                  nome  latitude  longitude  capital
2              12  AC                  Acre  -8.77000   -70.5500        2
54        1200013  AC            Acrelândia  -9.82581   -66.8972        0
438       1200054  AC          Assis Brasil -10.92980   -69.5738        0
781       1200104  AC             Brasiléia -10.99500   -68.7497        0
824       1200138  AC                Bujari  -9.81528   -67.9550        0
1110      1200179  AC              Capixaba -10.56600   -67.6860        0
1513      1200203  AC       Cruzeiro do Sul  -7.62762   -72.6756        0
1706      1200252  AC        Epitaciolândia -11.01880   -68.7341        0
1784      1200302  AC                 Feijó  -8.17054   -70.3510        0
2636      1200328  AC                Jordão  -9.43091   -71.8974        0
2914      1200336  AC           Mâncio Lima  -7.61657   -72.8997        0
2928      1200344  AC         Manoel Urbano  -8.83291   -69.2679        0
2974      1200351  AC  Marechal Thaumaturgo  -8.93898   -72.7997        0
3901      1200385  AC     Plácido de Castro -10.28060   -67.1371        0
3974      1200807  AC            Porto Acre  -9.58138   -67.5478        0
4008      1200393  AC          Porto Walter  -8.26323   -72.7537        0
4221      1200401  AC            Rio Branco  -9.97499   -67.8243        1
4289      1200427  AC       Rodrigues Alves  -7.73864   -72.6610        0
4502      1200435  AC   Santa Rosa do Purus  -9.44652   -70.4902        0
4990      1200500  AC        Sena Madureira  -9.06596   -68.6571        0
4998      1200450  AC      Senador Guiomard -10.14970   -67.7362        0
5205      1200609  AC              Tarauacá  -8.15697   -70.7722        0
5588      1200708  AC                Xapuri -10.65160   -68.4969        0

In [60]:
geo['nomeEdit'] = geo['nome'].apply(clean_string_original)

In [147]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5618 entries, 0 to 5617
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5618 non-null   int64
 1   uf           5618 non-null   object
 2   nome         5618 non-null   object
 3   latitude     5618 non-null   float64
 4   longitude    5618 non-null   float64
 5   capital      5618 non-null   int64
 6   nomeEdit     5618 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 307.4+ KB

In [69]:
#pegar apenas estados
estados_geo = geo.loc[geo['capital']==2]

In [70]:
estados_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  28 non-null     int64
 1   uf           28 non-null     object
 2   nome         28 non-null     object
 3   latitude     28 non-null     float64
 4   longitude    28 non-null     float64
 5   capital      28 non-null     int64
 6   nomeEdit     28 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.8+ KB

In [61]:
tabela.loc[tabela['uf']=='AC']

   uf  nome  ...  doutorado   total
0  AC  Acre  ...         79  214736

[1 rows x 13 columns]

In [62]:
tabela['nomeEdit'] = tabela['nome'].apply(clean_string_original)

In [63]:
len(tabela), len(geo)

(28, 5618)

## estados

In [73]:
dataset_merge = pd.merge(tabela, estados_geo, how='left', left_on=['uf','nomeEdit'],right_on=['uf','nomeEdit'])

In [74]:
dataset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 19 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   uf                                                                       28 non-null     object
 1   nome_x                                                                   28 non-null     object
 2   nao_aplicavel_(pessoas_que_nao_estao_estudando)                          28 non-null     int64
 3   alfabetizacao_de_jovens_e_adultos                                        28 non-null     int64
 4   regular_do_ensino_fundamental                                            28 non-null     int64
 5   educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_fundamental  28 non-null     int64
 6   regular_do_ensino_medio                                                  28 non-null     int64
 7   educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_medio        28 non-null     int64
 8   superior_de_graduacao                                                    28 non-null     int64
 9   especializacao_de_nivel_superior_(minimo_de_360_horas)                   28 non-null     int64
 10  mestrado                                                                 28 non-null     int64
 11  doutorado                                                                28 non-null     int64
 12  total                                                                    28 non-null     int64
 13  nomeEdit                                                                 28 non-null     object
 14  codigo_ibge                                                              28 non-null     int64
 15  nome_y                                                                   28 non-null     object
 16  latitude                                                                 28 non-null     float64
 17  longitude                                                                28 non-null     float64
 18  capital                                                                  28 non-null     int64
dtypes: float64(2), int64(13), object(4)
memory usage: 4.4+ KB

In [75]:
dataset_merge.head()

   uf    nome_x  ...  longitude  capital
0  AC      Acre  ...     -70.55        2
1  AL   Alagoas  ...     -36.82        2
2  AP     Amapá  ...     -51.77        2
3  AM  Amazonas  ...     -65.10        2
4  BA     Bahia  ...     -41.71        2

[5 rows x 19 columns]

In [76]:
#colunas podem ser ignorada quando é brasil
dataset_merge.drop(columns='nomeEdit', inplace=True)
dataset_merge.drop(columns='nome_y', inplace=True)
dataset_merge.drop(columns='capital', inplace=True)

In [ ]:
dataset_merge.rename(columns={'nome_x':'nome'}, inplace=True)

## municipios

In [150]:
def adiciona_parenteses(row):
    if (row['capital'] != 2):
      novo = str(row['nome']).strip() + ' (' + str(row['uf']).strip() + ')'
    else:
      novo = row['nome']

    return novo

In [151]:
#df['C'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
#df.apply (lambda row: label_race(row), axis=1)
geo.apply(lambda row: adiciona_parenteses(row), axis=1)

0                               Brasil
1                             Rondônia
2                                 Acre
3                             Amazonas
4                              Roraima
                     ...
5613                  São Caitano (PE)
5614                     Iguaraci (PE)
5615                   Brasópolis (MG)
5616                      Poxoréo (MT)
5617    São Valério da Natividade (TO)
Length: 5618, dtype: object

In [152]:
geo['novoNome'] = geo.apply(lambda row: adiciona_parenteses(row), axis=1)

In [153]:
geo['nomeEdit'] = geo['novoNome'].apply(clean_string_original)

In [155]:
#geo.tail()

      codigo_ibge  ...                        novoNome
5613      2613107  ...                São Caitano (PE)
5614      2606903  ...                   Iguaraci (PE)
5615      3108909  ...                 Brasópolis (MG)
5616      5107008  ...                    Poxoréo (MT)
5617      1720499  ...  São Valério da Natividade (TO)

[5 rows x 8 columns]

In [157]:
tabela['nomeEdit'] = tabela['nome'].apply(clean_string_original)

In [158]:
tabela.tail()

      uf            nome  ...    total       nomeEdit
5591  SC  Witmarsum (SC)  ...    881.0  witmarsum(sc)
5592  SC    Xanxerê (SC)  ...  11963.0    xanxere(sc)
5593  SC  Xavantina (SC)  ...    951.0  xavantina(sc)
5594  SC      Xaxim (SC)  ...   6897.0      xaxim(sc)
5595  SC     Zortéa (SC)  ...    760.0     zortea(sc)

[5 rows x 8 columns]

In [159]:
dataset_merge = pd.merge(tabela, geo, how='left', left_on=['uf','nomeEdit'],right_on=['uf','nomeEdit'])

In [174]:
dataset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5592 entries, 0 to 5591
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   uf              5592 non-null   object
 1   nome            5592 non-null   object
 2   sim_frequencia  5592 non-null   float64
 3   sim_percentual  5592 non-null   float64
 4   nao_frequencia  5592 non-null   float64
 5   nao_percentual  5592 non-null   float64
 6   total           5592 non-null   float64
 7   codigo_ibge     5592 non-null   int64
 8   latitude        5592 non-null   float64
 9   longitude       5592 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 480.6+ KB

In [171]:
#coluna estado pode ser ignorada quando é brasil
dataset_merge.drop(columns='nomeEdit', inplace=True)
dataset_merge.drop(columns='nome_y', inplace=True)
dataset_merge.drop(columns='capital', inplace=True)
dataset_merge.drop(columns='novoNome', inplace=True)

In [172]:
dataset_merge.rename(columns={'nome_x':'nome'}, inplace=True)

### operações para encontrar mismatches

In [161]:
notfound = dataset_merge[dataset_merge.isna().any(axis=1)]
notfound

Empty DataFrame
Columns: [uf, nome_x, sim_frequencia, sim_percentual, nao_frequencia, nao_percentual, total, nomeEdit, codigo_ibge, nome_y, latitude, longitude, capital, novoNome]
Index: []

In [ ]:
notfound.sort_values(by=['uf','nome_x'])

      uf          nome_x  sim_frequencia  ...  latitude  longitude  capital
1066  CE         Itapagé         13134.0  ...       NaN        NaN      NaN
1756  PE     São Caitano          8810.0  ...       NaN        NaN      NaN
2030  RN  Augusto Severo          2286.0  ...       NaN        NaN      NaN
2076  RN  Januário Cicco          2241.0  ...       NaN        NaN      NaN

[4 rows x 13 columns]

In [162]:
len(notfound['nome_x'].tolist())-28

-28

In [163]:
notfound['nome_x'].tolist()

[]

In [164]:
dataset_merge

      uf             nome_x  ...  capital           novoNome
0     AC              Acre   ...        2               Acre
1     AC    Acrelândia (AC)  ...        0    Acrelândia (AC)
2     AC  Assis Brasil (AC)  ...        0  Assis Brasil (AC)
3     AC     Brasiléia (AC)  ...        0     Brasiléia (AC)
4     AC        Bujari (AC)  ...        0        Bujari (AC)
...   ..                ...  ...      ...                ...
5587  SC     Witmarsum (SC)  ...        0     Witmarsum (SC)
5588  SC       Xanxerê (SC)  ...        0       Xanxerê (SC)
5589  SC     Xavantina (SC)  ...        0     Xavantina (SC)
5590  SC         Xaxim (SC)  ...        0         Xaxim (SC)
5591  SC        Zortéa (SC)  ...        0        Zortéa (SC)

[5592 rows x 14 columns]

In [173]:
dataset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5592 entries, 0 to 5591
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   uf              5592 non-null   object
 1   nome            5592 non-null   object
 2   sim_frequencia  5592 non-null   float64
 3   sim_percentual  5592 non-null   float64
 4   nao_frequencia  5592 non-null   float64
 5   nao_percentual  5592 non-null   float64
 6   total           5592 non-null   float64
 7   codigo_ibge     5592 non-null   int64
 8   latitude        5592 non-null   float64
 9   longitude       5592 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 480.6+ KB

In [166]:
dataset_right = pd.merge(tabela, geo, how='right', left_on=['uf','nomeEdit'],right_on=['uf','nomeEdit'])

In [167]:
dataset_right.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5618 entries, 0 to 5617
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   uf              5618 non-null   object
 1   nome_x          5592 non-null   object
 2   sim_frequencia  5592 non-null   float64
 3   sim_percentual  5592 non-null   float64
 4   nao_frequencia  5592 non-null   float64
 5   nao_percentual  5592 non-null   float64
 6   total           5592 non-null   float64
 7   nomeEdit        5618 non-null   object
 8   codigo_ibge     5618 non-null   int64
 9   nome_y          5618 non-null   object
 10  latitude        5618 non-null   float64
 11  longitude       5618 non-null   float64
 12  capital         5618 non-null   int64
 13  novoNome        5618 non-null   object
dtypes: float64(7), int64(2), object(5)
memory usage: 658.4+ KB

In [168]:
notfound = dataset_right[dataset_right.isna().any(axis=1)]

In [169]:
#notfound.loc[notfound['estado'] != 'Brasil'].sort_values(by=['estado'])

In [170]:
notfound.sort_values(by=['uf','nome_y'])

      uf nome_x  ...  capital                            novoNome
5598  BA    NaN  ...        0        Muquém de São Francisco (BA)
5602  BA    NaN  ...        0                Santa Teresinha (BA)
5592  BR    NaN  ...        2                              Brasil
5606  CE    NaN  ...        0                        Itapagé (CE)
5615  MG    NaN  ...        0                     Brasópolis (MG)
5599  MS    NaN  ...        0              Paraíso das Águas (MS)
5616  MT    NaN  ...        0                        Poxoréo (MT)
5610  PA    NaN  ...        0           Eldorado dos Carajás (PA)
5597  PA    NaN  ...        0               Mojuí dos Campos (PA)
5611  PA    NaN  ...        0           Santa Isabel do Pará (PA)
5612  PB    NaN  ...        0                       Santarém (PB)
5613  PB    NaN  ...        0                         Seridó (PB)
5614  PE    NaN  ...        0                       Iguaraci (PE)
5603  PE    NaN  ...        0                    São Caetano (PE)
5593  RN    NaN  ...        0  Augusto Severo (Campo Grande) (RN)
5605  RN    NaN  ...        0                      Boa Saúde (RN)
5604  RN    NaN  ...        0                   Campo Grande (RN)
5596  RN    NaN  ...        0     Januário Cicco (Boa Saúde) (RN)
5601  RS    NaN  ...        0                 Pinto Bandeira (RS)
5594  SC    NaN  ...        0               Balneário Rincão (SC)
5600  SC    NaN  ...        0                 Pescaria Brava (SC)
5607  SP    NaN  ...        0                           Embu (SP)
5595  SP    NaN  ...        0                       Florínia (SP)
5608  SP    NaN  ...        0                     Moji Mirim (SP)
5609  SP    NaN  ...        0         São Luís do Paraitinga (SP)
5617  TO    NaN  ...        0      São Valério da Natividade (TO)

[26 rows x 14 columns]

In [ ]:
#coluna estado pode ser ignorada quando é brasil
dataset_merge.drop(columns='estado', inplace=True)
dataset_merge.drop(columns='cep', inplace=True)

In [ ]:
dataset_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 16 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   uf                                                                       28 non-null     object
 1   nome                                                                     28 non-null     object
 2   nao_aplicavel_(pessoas_que_nao_estao_estudando)                          28 non-null     int64
 3   alfabetizacao_de_jovens_e_adultos                                        28 non-null     int64
 4   regular_do_ensino_fundamental                                            28 non-null     int64
 5   educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_fundamental  28 non-null     int64
 6   regular_do_ensino_medio                                                  28 non-null     int64
 7   educacao_de_jovens_e_adultos_-_eja_-_ou_supletivo_do_ensino_medio        28 non-null     int64
 8   superior_de_graduacao                                                    28 non-null     int64
 9   especializacao_de_nivel_superior_(minimo_de_360_horas)                   28 non-null     int64
 10  mestrado                                                                 28 non-null     int64
 11  doutorado                                                                28 non-null     int64
 12  total                                                                    28 non-null     int64
 13  latitude                                                                 28 non-null     float64
 14  longitude                                                                28 non-null     float64
 15  cep                                                                      28 non-null     object
dtypes: float64(2), int64(11), object(3)
memory usage: 3.7+ KB

# Salvar arquivo csv final

In [77]:
#estados
dataset_merge.to_csv('Eixo2_Tabela1.csv', index=False, encoding='utf-8')

In [175]:
#municipios
dataset_merge.to_csv('Eixo2_Tabela3.csv', index=False, encoding='utf-8')