# Limpeza de strings

In [3]:
import unidecode

In [4]:
def clean_string(str):
    str = str.strip()
    str = str.replace(" ","_") #remover elspaços
    str = str.replace("'","") #remover apóstrofos
    str = str.lower() #colocar tudo em minúsculas
    str = unidecode.unidecode(str) #remover acentuação
    return str

#exemplo
txt = "Nova Brasilândia D'Oeste oração   "
clean_string(txt)

'nova_brasilandia_doeste_oracao'

In [5]:
def clean_string_original(str):
    str = str.strip()
    str = str.replace(" ","") #remover espaços
    str = str.replace("-","") #remover hifen
    str = str.replace("'","") #remover apóstrofos
    str = str.lower() #colocar tudo em minúsculas
    str = unidecode.unidecode(str) #remover acentuação
    return str

#exemplo
txt = "Nova Brasilândia D'Oeste oração   "
clean_string_original(txt)

'novabrasilandiadoesteoracao'

In [6]:
def troca_virgula_por_ponto(text):
    text = str(text)
    text = text.strip()
    text = text.replace(",",".") #trocar por ponto
    return text

#exemplo
txt = "-1,00012 "
troca_virgula_por_ponto(txt)

'-1.00012'

In [7]:
#Paraíba é com acento
def correcao_paraiba(text):
    if (str(text) == 'Paraiba'):
        text = 'Paraíba'   
    if (str(text) == 'Total'):
        text = 'Brasil' 
    return text

In [8]:
def remover_parenteses(text):
    novo = str(text).strip()
    if novo.endswith(')'):
        novo = novo[:-4]
    return novo.strip()

In [9]:
correcoes_dados_dicionario = {
  "Tarauacá ARAUACÁ (AC)": "Tarauacá (AC)"
}

#esses foram duplicados na tabela de nomes
#"Muquém do São Francisco (BA)": "Muquém de São Francisco (BA)",
#"Santa Terezinha (BA)": "Santa Teresinha (BA)",
#"Itapajé (CE)" : "Itapagé (CE)",
#"Florínea (SP)" : "Florínia (SP)",
#"São Caitano (PE)": "São Caetano (PE)"

geo_falta = {
    "Santarém (PB)": "Joca Claudino (PB)",
    "Seridó (PB)": "São Vicente do Seridó (PB)",
    "Boa Saúde (RN)": "Januário Cicco (RN)",
    "Campo Grande (RN)": "Augusto Severo (RN)", #Augusto Severo (Campo Grande)
    "Presidente Juscelino (RN)": "Serra Caiada (RN)",
    "Embu (SP)": "Embu das Artes (SP)"
}

In [10]:
#nomes ligeiramente errados
def correcao_nomes(text):
    if (str(text) in correcoes_dados_dicionario.keys()):
        text = correcoes_dados_dicionario[text]
    return text

In [18]:
#'Itapajé (CE)' in correcoes_leslie.keys()
#correcoes_dados['Itapajé (CE)']

# Nova tabela de lat/lon

In [20]:
import pandas as pd

In [15]:
import wget

In [18]:
#pegar tabela de municipios
wget.download("https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/municipios.csv")

'municipios.csv'

In [19]:
#pegar tabela de estados
wget.download("https://raw.githubusercontent.com/kelvins/Municipios-Brasileiros/master/csv/estados.csv")

'estados.csv'

In [ ]:
estados_file = 'estados.csv'
municipios_file = 'municipios.csv'

## Estados

In [ ]:
estados = pd.read_csv(estados_file)

In [ ]:
estados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codigo_uf  27 non-null     int64
 1   uf         27 non-null     object
 2   nome       27 non-null     object
 3   latitude   27 non-null     float64
 4   longitude  27 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.2+ KB

In [ ]:
estados.head()

   codigo_uf  uf      nome  latitude  longitude
0         11  RO  Rondônia    -10.83     -63.34
1         12  AC      Acre     -8.77     -70.55
2         13  AM  Amazonas     -3.47     -65.10
3         14  RR   Roraima      1.99     -61.33
4         15  PA      Pará     -3.79     -52.48

Criar dicionario com código dos estados

In [ ]:
estados_dict = dict(zip(estados.codigo_uf, estados.uf))

In [ ]:
estados_dict

{11: 'RO',
 12: 'AC',
 13: 'AM',
 14: 'RR',
 15: 'PA',
 16: 'AP',
 17: 'TO',
 21: 'MA',
 22: 'PI',
 23: 'CE',
 24: 'RN',
 25: 'PB',
 26: 'PE',
 27: 'AL',
 28: 'SE',
 29: 'BA',
 31: 'MG',
 32: 'ES',
 33: 'RJ',
 35: 'SP',
 41: 'PR',
 42: 'SC',
 43: 'RS',
 50: 'MS',
 51: 'MT',
 52: 'GO',
 53: 'DF'}

In [ ]:
def troca_codigo_uf(codigo):
    novo = str(estados_dict[codigo]).strip()
    return novo

In [ ]:
estados.columns

Index(['codigo_uf', 'uf', 'nome', 'latitude', 'longitude'], dtype='object')

In [ ]:
novas_colunas = ['codigo_ibge', 'uf', 'nome', 'latitude', 'longitude']

In [ ]:
estados.columns = novas_colunas

In [ ]:
estados['capital'] = 2

In [ ]:
estados.head()

   codigo_ibge  uf      nome  latitude  longitude  capital
0           11  RO  Rondônia    -10.83     -63.34        2
1           12  AC      Acre     -8.77     -70.55        2
2           13  AM  Amazonas     -3.47     -65.10        2
3           14  RR   Roraima      1.99     -61.33        2
4           15  PA      Pará     -3.79     -52.48        2

## Municipios

In [ ]:
municipios = pd.read_csv(municipios_file)

In [ ]:
municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5570 non-null   int64
 1   nome         5570 non-null   object
 2   latitude     5570 non-null   float64
 3   longitude    5570 non-null   float64
 4   capital      5570 non-null   int64
 5   codigo_uf    5570 non-null   int64
dtypes: float64(2), int64(3), object(1)
memory usage: 261.2+ KB

In [ ]:
municipios.head()

   codigo_ibge                 nome  latitude  longitude  capital  codigo_uf
0      5200050      Abadia de Goiás -16.75730   -49.4412        0         52
1      3100104  Abadia dos Dourados -18.48310   -47.3916        0         31
2      5200100            Abadiânia -16.19700   -48.7057        0         52
3      3100203               Abaeté -19.15510   -45.4444        0         31
4      1500107           Abaetetuba  -1.72183   -48.8788        0         15

In [ ]:
municipios['uf'] = municipios['codigo_uf'].apply(troca_codigo_uf)

In [ ]:
municipios.head()

   codigo_ibge                 nome  latitude  ...  capital  codigo_uf  uf
0      5200050      Abadia de Goiás -16.75730  ...        0         52  GO
1      3100104  Abadia dos Dourados -18.48310  ...        0         31  MG
2      5200100            Abadiânia -16.19700  ...        0         52  GO
3      3100203               Abaeté -19.15510  ...        0         31  MG
4      1500107           Abaetetuba  -1.72183  ...        0         15  PA

[5 rows x 7 columns]

In [ ]:
municipios.drop(columns='codigo_uf', inplace=True)

## juntar as duas

In [ ]:
#juntas = pd.concat(estados, municipios,ignore_index = False)
vertical_stack = pd.concat([estados, municipios],ignore_index = False, axis=0)

In [ ]:
vertical_stack

      codigo_ibge  uf         nome  latitude  longitude  capital
0              11  RO     Rondônia -10.83000   -63.3400        2
1              12  AC         Acre  -8.77000   -70.5500        2
2              13  AM     Amazonas  -3.47000   -65.1000        2
3              14  RR      Roraima   1.99000   -61.3300        2
4              15  PA         Pará  -3.79000   -52.4800        2
...           ...  ..          ...       ...        ...      ...
5565      2933604  BA  Xique-Xique -10.82300   -42.7245        0
5566      2517407  PB       Zabelê  -8.07901   -37.1057        0
5567      3557154  SP     Zacarias -21.05060   -50.0552        0
5568      2114007  MA      Zé Doca  -3.27014   -45.6553        0
5569      4219853  SC       Zortéa -27.45210   -51.5520        0

[5597 rows x 6 columns]

## Novas linhas para correções

Dados Leslie:
*   "Muquém do São Francisco (BA)": "Muquém de São Francisco (BA)",
* "Santa Terezinha (BA)": "Santa Teresinha (BA)",
*  "Itapajé (CE)" : "Itapagé (CE)",
*  "Florínea (SP)" : "Florínia (SP)",
*  "São Caitano (PE)": "São Caetano (PE)"

Tabela antiga GEO
*    "Santarém (PB)": "Joca Claudino (PB)",
*    "Seridó (PB)": "São Vicente do Seridó (PB)",
*    "Boa Saúde (RN)": "Januário Cicco (RN)",
*    "Campo Grande (RN)": "Augusto Severo (RN)", #Augusto Severo (Campo Grande)
*    "Presidente Juscelino (RN)": "Serra Caiada (RN)",
*    "Embu (SP)": "Embu das Artes (SP)"

mais alguns:
* Serra do Navio (PA): Serra do Navio (AP)
* Eldorado dos Carajás (PA): Eldorado do Carajás (PA)
* Santa Isabel do Pará (PA): Santa Izabel do Pará (PA): 
* Iguaraci(PE): Iguaracy (PE)
* Brasópolis(MG): Brazópolis (MG)
* Poxoréo (MT): Poxoréu (MT)
* Moji Mirim (SP): Mogi Mirim (SP)
* São Luís do Paraitinga (SP): São Luiz do Paraitinga (SP)
* São Valério da Natividade (TO): São Valério (TO)

In [ ]:
#definicao de funções para ajudar
def get_linha_original(dataset, index):
    original = dataset.loc[index].tolist()
    #print(original)
    print(original[2])
    return original

def change_nome_linha(original, nome):
    linha = original.copy()
    linha[2] = nome
    print(nome)
    return linha

In [ ]:
novas_linhas = []

### Rio Grande do Norte

In [ ]:
RN = vertical_stack.loc[vertical_stack['uf'] == 'RN']

RN Augusto Severo (Campo Grande)	-5.86206	-37.3135	0

In [ ]:
RN.loc[RN["nome"] == 'Augusto Severo (Campo Grande)']

     codigo_ibge  uf  ... longitude  capital
427      2401305  RN  ...  -37.3135        0

[1 rows x 6 columns]

In [ ]:
index = RN.loc[RN["nome"] == 'Augusto Severo (Campo Grande)'].index.tolist()[0]

In [ ]:
original = get_linha_original(RN, index)

Augusto Severo (Campo Grande)

In [ ]:
linha = change_nome_linha(original, 'Augusto Severo')

Augusto Severo

In [ ]:
#adicionar linha Augusto Severo ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0]]

In [ ]:
linha = change_nome_linha(original, 'Campo Grande')

Campo Grande

In [ ]:
#adicionar linha Campo Grande ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0]]

RN	Januário Cicco (Boa Saúde)	-6.16566	-35.6219	0

In [ ]:
index = RN.loc[RN["nome"] == 'Januário Cicco (Boa Saúde)'].index.tolist()[0]
RN.loc[RN["nome"] == 'Januário Cicco (Boa Saúde)']

      codigo_ibge  uf                        nome  latitude  longitude  capital
2519      2405306  RN  Januário Cicco (Boa Saúde)  -6.16566   -35.6219        0

In [ ]:
original = get_linha_original(RN, index)

Januário Cicco (Boa Saúde)

In [ ]:
linha = change_nome_linha(original, 'Januário Cicco')

Januário Cicco

In [ ]:
#adicionar linha Januário Cicco ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0]]

In [ ]:
linha = change_nome_linha(original, 'Boa Saúde')

Boa Saúde

In [ ]:
#adicionar linha Boa Saúde ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0]]

### Bahia

In [ ]:
BA = vertical_stack.loc[vertical_stack['uf'] == 'BA']

"Muquém do São Francisco (BA)": "Muquém de São Francisco (BA)"

In [ ]:
index = BA.loc[BA["nome"] == 'Muquém de São Francisco'].index.tolist()[0]
BA.loc[BA["nome"] == 'Muquém de São Francisco']

      codigo_ibge  uf                     nome  latitude  longitude  capital
3220      2922250  BA  Muquém de São Francisco   -12.065   -43.5497        0

In [ ]:
original = get_linha_original(BA, index)

Muquém de São Francisco

In [ ]:
linha = change_nome_linha(original, 'Muquém do São Francisco')

Muquém do São Francisco

In [ ]:
#adicionar linha Muquém do São Francisco ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0], [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0]]

"Santa Terezinha (BA)": "Santa Teresinha (BA)"

In [ ]:
index = BA.loc[BA["nome"] == 'Santa Teresinha'].index.tolist()[0]
BA.loc[BA["nome"] == 'Santa Teresinha']

      codigo_ibge  uf             nome  latitude  longitude  capital
4479      2928505  BA  Santa Teresinha  -12.7697   -39.5215        0

In [ ]:
original = get_linha_original(BA, index)

Santa Teresinha

In [ ]:
linha = change_nome_linha(original, 'Santa Terezinha')

Santa Terezinha

In [ ]:
#adicionar linha Santa Terezinha ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0], [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0], [2928505, 'BA', 'Santa Terezinha', -12.7697, -39.5215, 0]]

### Ceará

In [ ]:
CE = vertical_stack.loc[vertical_stack['uf'] == 'CE']

"Itapajé (CE)" : "Itapagé (CE)"

In [ ]:
n = 'Itapajé'
index = CE.loc[CE["nome"] == n].index.tolist()[0]
CE.loc[CE["nome"] == n]

      codigo_ibge  uf     nome  latitude  longitude  capital
2358      2306306  CE  Itapajé  -3.68314   -39.5855        0

In [ ]:
original = get_linha_original(CE, index)

Itapajé

In [ ]:
linha = change_nome_linha(original, 'Itapagé')

Itapagé

In [ ]:
#adicionar linha Itapagé ao dataset
novas_linhas.append(linha)
print(novas_linhas)

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0], [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0], [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0], [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0], [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0], [2928505, 'BA', 'Santa Terezinha', -12.7697, -39.5215, 0], [2306306, 'CE', 'Itapagé', -3.6831400000000003, -39.5855, 0]]

### São Paulo
"Florínea (SP)" : "Florínia (SP)", "Embu (SP)": "Embu das Artes (SP)" Moji Mirim (SP): Mogi Mirim (SP) São Luís do Paraitinga (SP): São Luiz do Paraitinga (SP)

In [ ]:
SP = vertical_stack.loc[vertical_stack['uf'] == 'SP']

In [ ]:
n = 'Florínia'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf      nome  latitude  longitude  capital
1815      3516101  SP  Florínia   -22.868   -50.6814        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'Florínea')
novas_linhas.append(linha)

Florínia
Florínea

In [ ]:
n = 'Embu das Artes'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf            nome  latitude  longitude  capital
1656      3515004  SP  Embu das Artes  -23.6437   -46.8579        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'Embu')
novas_linhas.append(linha)

Embu das Artes
Embu

In [ ]:
n = 'Mogi Mirim'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf        nome  latitude  longitude  capital
3111      3530805  SP  Mogi Mirim  -22.4332   -46.9532        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'Moji Mirim')
novas_linhas.append(linha)

Mogi Mirim
Moji Mirim

In [ ]:
n = 'São Luiz do Paraitinga'
index = SP.loc[SP["nome"] == n].index.tolist()[0]
SP.loc[SP["nome"] == n]

      codigo_ibge  uf                    nome  latitude  longitude  capital
4818      3550001  SP  São Luiz do Paraitinga   -23.222   -45.3109        0

In [ ]:
original = get_linha_original(SP, index)
linha = change_nome_linha(original, 'São Luís do Paraitinga')
novas_linhas.append(linha)

São Luiz do Paraitinga
São Luís do Paraitinga

### Pará

In [ ]:
PA = vertical_stack.loc[vertical_stack['uf'] == 'PA']

In [ ]:
n = 'Eldorado do Carajás'
index = PA.loc[PA["nome"] == n].index.tolist()[0]
PA.loc[PA["nome"] == n]

      codigo_ibge  uf                 nome  latitude  longitude  capital
1646      1502954  PA  Eldorado do Carajás  -6.10389   -49.3553        0

In [ ]:
original = get_linha_original(PA, index)
linha = change_nome_linha(original, 'Eldorado dos Carajás')
novas_linhas.append(linha)

Eldorado do Carajás
Eldorado dos Carajás

In [ ]:
n = 'Santa Izabel do Pará'
index = PA.loc[PA["nome"] == n].index.tolist()[0]
PA.loc[PA["nome"] == n]

      codigo_ibge  uf                  nome  latitude  longitude  capital
4413      1506500  PA  Santa Izabel do Pará  -1.29686   -48.1606        0

In [ ]:
original = get_linha_original(PA, index)
linha = change_nome_linha(original, 'Santa Isabel do Pará')
novas_linhas.append(linha)

Santa Izabel do Pará
Santa Isabel do Pará

### PB

In [ ]:
PB = vertical_stack.loc[vertical_stack['uf'] == 'PB']

In [ ]:
n = 'Joca Claudino'
index = PB.loc[PB["nome"] == n].index.tolist()[0]
PB.loc[PB["nome"] == n]

      codigo_ibge  uf           nome  latitude  longitude  capital
2603      2513653  PB  Joca Claudino  -6.48362   -38.4764        0

In [ ]:
original = get_linha_original(PB, index)
linha = change_nome_linha(original, 'Santarém')
novas_linhas.append(linha)

Joca Claudino
Santarém

In [ ]:
n = 'São Vicente do Seridó'
index = PB.loc[PB["nome"] == n].index.tolist()[0]
PB.loc[PB["nome"] == n]

      codigo_ibge  uf                   nome  latitude  longitude  capital
4922      2515401  PB  São Vicente do Seridó  -6.85426   -36.4122        0

In [ ]:
original = get_linha_original(PB, index)
linha = change_nome_linha(original, 'Seridó')
novas_linhas.append(linha)

São Vicente do Seridó
Seridó

### PE

In [ ]:
PE = vertical_stack.loc[vertical_stack['uf'] == 'PE']

In [ ]:
n = 'São Caetano'
index = PE.loc[PE["nome"] == n].index.tolist()[0]
PE.loc[PE["nome"] == n]

      codigo_ibge  uf         nome  latitude  longitude  capital
4603      2613107  PE  São Caetano  -8.33763   -36.2869        0

In [ ]:
original = get_linha_original(PE, index)
linha = change_nome_linha(original, 'São Caitano')
novas_linhas.append(linha)

São Caetano
São Caitano

In [ ]:
n = 'Iguaracy'
index = PE.loc[PE["nome"] == n].index.tolist()[0]
PE.loc[PE["nome"] == n]

      codigo_ibge  uf      nome  latitude  longitude  capital
2158      2606903  PE  Iguaracy  -7.83222   -37.5082        0

In [ ]:
original = get_linha_original(PE, index)
linha = change_nome_linha(original, 'Iguaraci')
novas_linhas.append(linha)

Iguaracy
Iguaraci

### MG

In [ ]:
MG = vertical_stack.loc[vertical_stack['uf'] == 'MG']

In [ ]:
n = 'Brazópolis'
index = MG.loc[MG["nome"] == n].index.tolist()[0]
MG.loc[MG["nome"] == n]

     codigo_ibge  uf        nome  latitude  longitude  capital
761      3108909  MG  Brazópolis  -22.4743   -45.6166        0

In [ ]:
original = get_linha_original(MG, index)
linha = change_nome_linha(original, 'Brasópolis')
novas_linhas.append(linha)

Brazópolis
Brasópolis

### MT

In [ ]:
MT = vertical_stack.loc[vertical_stack['uf'] == 'MT']

In [ ]:
n = 'Poxoréu'
index = MT.loc[MT["nome"] == n].index.tolist()[0]
MT.loc[MT["nome"] == n]

      codigo_ibge  uf     nome  latitude  longitude  capital
3993      5107008  MT  Poxoréu  -15.8299   -54.4208        0

In [ ]:
original = get_linha_original(MT, index)
linha = change_nome_linha(original, 'Poxoréo')
novas_linhas.append(linha)

Poxoréu
Poxoréo

### TO

In [ ]:
TO = vertical_stack.loc[vertical_stack['uf'] == 'TO']

In [ ]:
n = 'São Valério'
index = TO.loc[TO["nome"] == n].index.tolist()[0]
TO.loc[TO["nome"] == n]

      codigo_ibge  uf         nome  latitude  longitude  capital
4916      1720499  TO  São Valério  -11.9743   -48.2353        0

In [ ]:
original = get_linha_original(TO, index)
linha = change_nome_linha(original, 'São Valério da Natividade')
novas_linhas.append(linha)

São Valério
São Valério da Natividade

### Final

In [ ]:
len(novas_linhas)

20

In [ ]:
novas_linhas

[[2401305, 'RN', 'Augusto Severo', -5.86206, -37.3135, 0],
 [2401305, 'RN', 'Campo Grande', -5.86206, -37.3135, 0],
 [2405306, 'RN', 'Januário Cicco', -6.16566, -35.6219, 0],
 [2405306, 'RN', 'Boa Saúde', -6.16566, -35.6219, 0],
 [2922250, 'BA', 'Muquém do São Francisco', -12.065, -43.5497, 0],
 [2928505, 'BA', 'Santa Terezinha', -12.7697, -39.5215, 0],
 [2306306, 'CE', 'Itapagé', -3.6831400000000003, -39.5855, 0],
 [3516101, 'SP', 'Florínea', -22.868000000000002, -50.6814, 0],
 [3515004, 'SP', 'Embu', -23.6437, -46.8579, 0],
 [3530805, 'SP', 'Moji Mirim', -22.4332, -46.9532, 0],
 [3550001, 'SP', 'São Luís do Paraitinga', -23.221999999999998, -45.3109, 0],
 [1502954, 'PA', 'Eldorado dos Carajás', -6.10389, -49.3553, 0],
 [1506500, 'PA', 'Santa Isabel do Pará', -1.2968600000000001, -48.1606, 0],
 [2513653, 'PB', 'Santarém', -6.483619999999999, -38.4764, 0],
 [2515401, 'PB', 'Seridó', -6.854260000000001, -36.4122, 0],
 [2613107, 'PE', 'São Caitano', -8.33763, -36.2869, 0],
 [2606903, 'PE', 'Iguaraci', -7.8322199999999995, -37.5082, 0],
 [3108909, 'MG', 'Brasópolis', -22.4743, -45.6166, 0],
 [5107008, 'MT', 'Poxoréo', -15.8299, -54.4208, 0],
 [1720499, 'TO', 'São Valério da Natividade', -11.9743, -48.2353, 0]]

Criar novo dataframe

In [ ]:
vertical_stack.columns

Index(['codigo_ibge', 'uf', 'nome', 'latitude', 'longitude', 'capital'], dtype='object')

In [ ]:
df = pd.DataFrame(columns=vertical_stack.columns)

In [ ]:
for row in novas_linhas:
    df.loc[len(df)] = row

In [ ]:
df

   codigo_ibge  uf                       nome  latitude  longitude capital
0      2401305  RN             Augusto Severo  -5.86206   -37.3135       0
1      2401305  RN               Campo Grande  -5.86206   -37.3135       0
2      2405306  RN             Januário Cicco  -6.16566   -35.6219       0
3      2405306  RN                  Boa Saúde  -6.16566   -35.6219       0
4      2922250  BA    Muquém do São Francisco -12.06500   -43.5497       0
5      2928505  BA            Santa Terezinha -12.76970   -39.5215       0
6      2306306  CE                    Itapagé  -3.68314   -39.5855       0
7      3516101  SP                   Florínea -22.86800   -50.6814       0
8      3515004  SP                       Embu -23.64370   -46.8579       0
9      3530805  SP                 Moji Mirim -22.43320   -46.9532       0
10     3550001  SP     São Luís do Paraitinga -23.22200   -45.3109       0
11     1502954  PA       Eldorado dos Carajás  -6.10389   -49.3553       0
12     1506500  PA       Santa Isabel do Pará  -1.29686   -48.1606       0
13     2513653  PB                   Santarém  -6.48362   -38.4764       0
14     2515401  PB                     Seridó  -6.85426   -36.4122       0
15     2613107  PE                São Caitano  -8.33763   -36.2869       0
16     2606903  PE                   Iguaraci  -7.83222   -37.5082       0
17     3108909  MG                 Brasópolis -22.47430   -45.6166       0
18     5107008  MT                    Poxoréo -15.82990   -54.4208       0
19     1720499  TO  São Valério da Natividade -11.97430   -48.2353       0

In [ ]:
vertical_corretas = pd.concat([vertical_stack, df],ignore_index = False, axis=0)

## Salvar tabela final

In [ ]:
#vertical_stack.to_csv('nova_geo.csv', index=False, encoding='utf-8')

In [ ]:
vertical_corretas.to_csv('nova_geo_corrigida.csv', index=False, encoding='utf-8')