In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'data/'
file = 'Indicador da Juventude - Frequência Escolar.csv.npy'
file1 = path + file

In [3]:
file1

'data/Indicador da Juventude - Frequência Escolar.csv.npy'

In [25]:
novo_array = np.load(file1, allow_pickle=True)

In [26]:
novo_array

array([[2010, 'Todas as idades', 'Rondônia', ..., 'Ambos os sexos',
        'Todas as raças/cores', 498648.131103883],
       [2010, '15 a 17 anos', 'Rondônia', ..., 'Ambos os sexos',
        'Todas as raças/cores', 77048.8062913825],
       [2010, '18 a 24 anos', 'Rondônia', ..., 'Ambos os sexos',
        'Todas as raças/cores', 58987.468097034005],
       ...,
       [2010, '15 a 17 anos', 'Brasília', ..., 'Ambos os sexos',
        'Todas as raças/cores', 115729.85387729],
       [2010, '18 a 24 anos', 'Brasília', ..., 'Ambos os sexos',
        'Todas as raças/cores', 130604.87922178801],
       [2010, '25 a 29 anos', 'Brasília', ..., 'Ambos os sexos',
        'Todas as raças/cores', 50499.7014067539]], dtype=object)

In [70]:
header = ['Ano', 'FaixaEtaria', 'Municipio', 'UF', 'Area', 'Sexo', 'Cor','ValorAbsoluto']
dataset = pd.DataFrame(novo_array, columns=header)

In [139]:
#dataset = pd.read_csv(file1, sep=';')

Agora com os três indicadores em um só dataset

In [10]:
dataset.head(10)

,Ano,FaixaEtaria,Municipio,UF,Area,Sexo,Cor,ValorAbsoluto
0,2010,Todas as idades,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,498648
1,2010,15 a 17 anos,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,77048.8
2,2010,18 a 24 anos,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,58987.5
3,2010,25 a 29 anos,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,20081.9
4,2010,Todas as idades,Acre,AC,Rural e Urbana,Ambos os sexos,Todas as raças/cores,268161
5,2010,15 a 17 anos,Acre,AC,Rural e Urbana,Ambos os sexos,Todas as raças/cores,37647.4
6,2010,18 a 24 anos,Acre,AC,Rural e Urbana,Ambos os sexos,Todas as raças/cores,30689
7,2010,25 a 29 anos,Acre,AC,Rural e Urbana,Ambos os sexos,Todas as raças/cores,11396.2
8,2010,Todas as idades,Amazonas,AM,Rural e Urbana,Ambos os sexos,Todas as raças/cores,1.31782e+06
9,2010,15 a 17 anos,Amazonas,AM,Rural e Urbana,Ambos os sexos,Todas as raças/cores,182935

In [11]:
dataset.columns

Index(['Ano', 'FaixaEtaria', 'Municipio', 'UF', 'Area', 'Sexo', 'Cor',
       'ValorAbsoluto'],
      dtype='object')

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22363 entries, 0 to 22362
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ano            22363 non-null  object
 1   FaixaEtaria    22363 non-null  object
 2   Municipio      22363 non-null  object
 3   UF             22363 non-null  object
 4   Area           22363 non-null  object
 5   Sexo           22363 non-null  object
 6   Cor            22363 non-null  object
 7   ValorAbsoluto  22363 non-null  object
dtypes: object(8)
memory usage: 1.4+ MB

In [15]:
for i in dataset.columns:
    #print(dataset[i].value_counts)
    print(str(i) + ": " + str(dataset[i].unique()) + "\n")

Ano: [2010]

FaixaEtaria: ['Todas as idades' '15 a 17 anos' '18 a 24 anos' '25 a 29 anos']

Municipio: ['Rondônia' 'Acre' 'Amazonas' ... 'Vila Boa' 'Vila Propício' 'Brasília']

UF: ['RO' 'AC' 'AM' 'RR' 'PA' 'TO' 'MA' 'PI' 'CE' 'RN' 'PB' 'PE' 'AL' 'SE'
 'BA' 'MG' 'ES' 'RJ' 'SP' 'PR' 'SC' 'RS' 'MS' 'MT' 'GO' 'DF' 'AP']

Area: ['Rural e Urbana']

Sexo: ['Ambos os sexos']

Cor: ['Todas as raças/cores']

ValorAbsoluto: [498648.131103883 77048.8062913825 58987.468097034005 ... 279.453830382873
 147.493124439914 27.585454970700003]

Recalcular coluna de Todas as Idades, pois o correto é somar os valores de '15 a 17 anos' '18 a 24 anos' '25 a 29 anos'

In [16]:
dataset.loc[dataset['Municipio'] == 'São João da Mata']

,Ano,FaixaEtaria,Municipio,UF,Area,Sexo,Cor,ValorAbsoluto
11981,2010,Todas as idades,São João da Mata,MG,Rural e Urbana,Ambos os sexos,Todas as raças/cores,574.898
11982,2010,15 a 17 anos,São João da Mata,MG,Rural e Urbana,Ambos os sexos,Todas as raças/cores,110.649
11983,2010,18 a 24 anos,São João da Mata,MG,Rural e Urbana,Ambos os sexos,Todas as raças/cores,65.0429
11984,2010,25 a 29 anos,São João da Mata,MG,Rural e Urbana,Ambos os sexos,Todas as raças/cores,18.9258

In [17]:
#explicação do problema:
datateste = dataset.loc[dataset['Municipio'] == 'São João da Mata']
#for index, row in datateste.iterrows():

fx_etaria_15_17 = datateste.loc[datateste['FaixaEtaria'] == '15 a 17 anos','ValorAbsoluto'].values
fx_etaria_18_24 = datateste.loc[datateste['FaixaEtaria'] == '18 a 24 anos','ValorAbsoluto'].values
fx_etaria_25_29 = datateste.loc[datateste['FaixaEtaria'] == '25 a 29 anos','ValorAbsoluto'].values

fx_etaria_todas = datateste.loc[datateste['FaixaEtaria'] == 'Todas as idades','ValorAbsoluto'].values

In [18]:
print("Total da tabela: " + str(fx_etaria_todas))
print("Total correto: " + str(fx_etaria_15_17 + fx_etaria_18_24 + fx_etaria_25_29))

Total da tabela: [574.897989785]
Total correto: [194.61734458194974]

Vou pegar os estados

In [28]:
listaUF = dataset['UF'].unique()

In [29]:
listaUF

array(['RO', 'AC', 'AM', 'RR', 'PA', 'TO', 'MA', 'PI', 'CE', 'RN', 'PB',
       'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC', 'RS',
       'MS', 'MT', 'GO', 'DF', 'AP'], dtype=object)

In [71]:
datasetDict = {}
for i in listaUF:
    datateste = dataset.copy()
    datasetDict[i] = datateste.loc[(datateste['UF']==i)]

In [72]:
for i in listaUF:
    print("Arrumando o estado ", i)
    lista_municipios = datasetDict[i]['Municipio'].unique()
    
    #lista de municipios unicos
    for municipio in lista_municipios:
        #cria um dataset para cada municipio
        datateste = datasetDict[i].loc[datasetDict[i]['Municipio'] == municipio]

        #faço um loop dentro desse novo dataset   
        for index, row in datateste.iterrows():    
            if row['FaixaEtaria'] == '15 a 17 anos':
                fx_etaria_15_17 = row['ValorAbsoluto']
            if row['FaixaEtaria'] == '18 a 24 anos':
                fx_etaria_18_24 = row['ValorAbsoluto']
            if row['FaixaEtaria'] == '25 a 29 anos':
                fx_etaria_25_29 = row['ValorAbsoluto']

        #index para ser atualizado
        index = datateste.index[datateste['FaixaEtaria'] == 'Todas as idades']    

        #atualiza no dataset original
        datasetDict[i].loc[index, 'ValorAbsoluto'] = fx_etaria_15_17 + fx_etaria_18_24 + fx_etaria_25_29

Arrumando o estado  RO
Arrumando o estado  AC
Arrumando o estado  AM
Arrumando o estado  RR
Arrumando o estado  PA
Arrumando o estado  TO
Arrumando o estado  MA
Arrumando o estado  PI
Arrumando o estado  CE
Arrumando o estado  RN
Arrumando o estado  PB
Arrumando o estado  PE
Arrumando o estado  AL
Arrumando o estado  SE
Arrumando o estado  BA
Arrumando o estado  MG
Arrumando o estado  ES
Arrumando o estado  RJ
Arrumando o estado  SP
Arrumando o estado  PR
Arrumando o estado  SC
Arrumando o estado  RS
Arrumando o estado  MS
Arrumando o estado  MT
Arrumando o estado  GO
Arrumando o estado  DF
Arrumando o estado  AP

In [37]:
datasetDict['RO'].head()

,Ano,FaixaEtaria,Municipio,UF,Area,Sexo,Cor,ValorAbsoluto
0,2010,Todas as idades,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,156118
1,2010,15 a 17 anos,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,77048.8
2,2010,18 a 24 anos,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,58987.5
3,2010,25 a 29 anos,Rondônia,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,20081.9
108,2010,Todas as idades,Alta Floresta D Oeste,RO,Rural e Urbana,Ambos os sexos,Todas as raças/cores,2195.29

Lembrar que além dos municípios, os estados também estão nesse dataset

# Limpar strings

Limpar as strings de acentos, cedilhas, apóstrofos e espaços para poder comparar

In [41]:
#!pip install Unidecode
import unidecode

Requirement already satisfied: Unidecode in c:\users\rebeca\anaconda2\envs\extractor\lib\site-packages (1.1.1)

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

In [42]:
def clean_string(str):
    str = str.replace(" ","") #remover espaços
    str = str.replace("'","") #remover apóstrofos
    str = str.lower() #colocar tudo em minúsculas
    str = unidecode.unidecode(str) #remover acentuação
    return str

In [43]:
#exemplo
txt = "Nova Brasilândia D'Oeste oração"
clean_string(txt)

'novabrasilandiadoesteoracao'

# Banco do Visão

Vamos agora ver o que tá no Banco do Visão:

In [39]:
dataset_visao = pd.read_excel('municipios_BD_Visao.xlsx')

In [40]:
dataset_visao.head(10)

   ID             Município  UF
0   1  Alta Floresta dOeste  RO
1   2             Ariquemes  RO
2   3                Cabixi  RO
3   4                Cacoal  RO
4   5            Cerejeiras  RO
5   6     Colorado do Oeste  RO
6   7            Corumbiara  RO
7   8         Costa Marques  RO
8   9        Espigão dOeste  RO
9  10         Guajará-Mirim  RO

In [50]:
# Save the result in a new column
dataset_visao['editMun'] = dataset_visao['Município'].apply(clean_string)

In [51]:
dataset_visao.head(10)

   ID             Município  UF             editMun
0   1  Alta Floresta dOeste  RO  altaflorestadoeste
1   2             Ariquemes  RO           ariquemes
2   3                Cabixi  RO              cabixi
3   4                Cacoal  RO              cacoal
4   5            Cerejeiras  RO          cerejeiras
5   6     Colorado do Oeste  RO     coloradodooeste
6   7            Corumbiara  RO          corumbiara
7   8         Costa Marques  RO        costamarques
8   9        Espigão dOeste  RO       espigaodoeste
9  10         Guajará-Mirim  RO       guajara-mirim

# Novo dataset com nomes limpos

Pegar já os valores que eu quero em um novo dataframe

In [44]:
estadosDict = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AP': 'Amapá',
    'AM': 'Amazonas',
    'BA': 'Bahia',
    'CE': 'Ceará',
    'DF': 'Distrito Federal',
    'ES': 'Espírito Santo',
    'GO': 'Goiás',
    'MA': 'Maranhão',
    'MT': 'Mato Grosso',
    'MS': 'Mato Grosso do Sul',
    'MG': 'Minas Gerais',
    'PA': 'Pará',
    'PB': 'Paraíba',
    'PR': 'Paraná',
    'PE': 'Pernambuco',
    'PI': 'Piauí',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RS': 'Rio Grande do Sul',
    'RO': 'Rondônia',
    'RR': 'Roraima',
    'SC': 'Santa Catarina',
    'SP': 'São Paulo',
    'SE': 'Sergipe',
    'TO': 'Tocantins'
}

In [73]:
for i in listaUF:
    print("Arrumando o estado ", i)
    # Save the result in a new column
    datasetDict[i]['editMun'] = datasetDict[i]['Municipio'].apply(clean_string)    
    
    lista_municipios = datasetDict[i]['Municipio'].unique()
    print("Quantidade de municipios: ", len(lista_municipios))
    
    #lista de municipios unicos
    for municipio in lista_municipios:
        if (municipio == estadosDict[i]):
            remover = datasetDict[i].index[datasetDict[i]['Municipio'] == municipio]
            datasetDict[i].drop(remover, inplace=True)

Arrumando o estado  RO
Quantidade de municipios:  53
Arrumando o estado  AC
Quantidade de municipios:  23
Arrumando o estado  AM
Quantidade de municipios:  64
Arrumando o estado  RR
Quantidade de municipios:  16
Arrumando o estado  PA
Quantidade de municipios:  145
Arrumando o estado  TO
Quantidade de municipios:  140
Arrumando o estado  MA
Quantidade de municipios:  218
Arrumando o estado  PI
Quantidade de municipios:  225
Arrumando o estado  CE
Quantidade de municipios:  185
Arrumando o estado  RN
Quantidade de municipios:  168
Arrumando o estado  PB
Quantidade de municipios:  224
Arrumando o estado  PE
Quantidade de municipios:  186
Arrumando o estado  AL
Quantidade de municipios:  103
Arrumando o estado  SE
Quantidade de municipios:  76
Arrumando o estado  BA
Quantidade de municipios:  417
Arrumando o estado  MG
Quantidade de municipios:  854
Arrumando o estado  ES
Quantidade de municipios:  79
Arrumando o estado  RJ
Quantidade de municipios:  92
Arrumando o estado  SP
Quantidade de municipios:  645
Arrumando o estado  PR
Quantidade de municipios:  400
Arrumando o estado  SC
Quantidade de municipios:  294
Arrumando o estado  RS
Quantidade de municipios:  497
Arrumando o estado  MS
Quantidade de municipios:  79
Arrumando o estado  MT
Quantidade de municipios:  142
Arrumando o estado  GO
Quantidade de municipios:  246
Arrumando o estado  DF
Quantidade de municipios:  2
Arrumando o estado  AP
Quantidade de municipios:  15

In [74]:
datasetDict['DF'].head()

,Ano,FaixaEtaria,Municipio,UF,Area,Sexo,Cor,ValorAbsoluto,editMun
22359,2010,Todas as idades,Brasília,DF,Rural e Urbana,Ambos os sexos,Todas as raças/cores,296834,brasilia
22360,2010,15 a 17 anos,Brasília,DF,Rural e Urbana,Ambos os sexos,Todas as raças/cores,115730,brasilia
22361,2010,18 a 24 anos,Brasília,DF,Rural e Urbana,Ambos os sexos,Todas as raças/cores,130605,brasilia
22362,2010,25 a 29 anos,Brasília,DF,Rural e Urbana,Ambos os sexos,Todas as raças/cores,50499.7,brasilia

Agora faço o mesmo para o dataset do visao

Comparar os municípios nos dois dataframes e salvar os ID

# Vamos agora fazer o merge dos datasets

Inserimos o ID do Visao na nossa Tabela do excel

In [75]:
datasetDict['RO'].columns

Index(['Ano', 'FaixaEtaria', 'Municipio', 'UF', 'Area', 'Sexo', 'Cor',
       'ValorAbsoluto', 'editMun'],
      dtype='object')

In [76]:
dataset_visao.columns

Index(['ID', 'Município', 'UF', 'editMun'], dtype='object')

In [77]:
for i in listaUF:
    print("Arrumando o estado ", i)
    # Save the result in a new column
    datasetDict[i] = pd.merge(datasetDict[i], dataset_visao, how='inner', left_on=['UF','editMun'],right_on=['UF','editMun'])

Arrumando o estado  RO
Arrumando o estado  AC
Arrumando o estado  AM
Arrumando o estado  RR
Arrumando o estado  PA
Arrumando o estado  TO
Arrumando o estado  MA
Arrumando o estado  PI
Arrumando o estado  CE
Arrumando o estado  RN
Arrumando o estado  PB
Arrumando o estado  PE
Arrumando o estado  AL
Arrumando o estado  SE
Arrumando o estado  BA
Arrumando o estado  MG
Arrumando o estado  ES
Arrumando o estado  RJ
Arrumando o estado  SP
Arrumando o estado  PR
Arrumando o estado  SC
Arrumando o estado  RS
Arrumando o estado  MS
Arrumando o estado  MT
Arrumando o estado  GO
Arrumando o estado  DF
Arrumando o estado  AP

In [78]:
datasetDict[i].head()

,Ano,FaixaEtaria,Municipio,UF,Area,Sexo,Cor,ValorAbsoluto,editMun,ID,Município
0,2010,Todas as idades,Pedra Branca do Amapari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,1131.41,pedrabrancadoamapari,298,Pedra Branca do Amapari
1,2010,15 a 17 anos,Pedra Branca do Amapari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,483.765,pedrabrancadoamapari,298,Pedra Branca do Amapari
2,2010,18 a 24 anos,Pedra Branca do Amapari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,492.829,pedrabrancadoamapari,298,Pedra Branca do Amapari
3,2010,25 a 29 anos,Pedra Branca do Amapari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,154.818,pedrabrancadoamapari,298,Pedra Branca do Amapari
4,2010,Todas as idades,Calçoene,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,715.785,calcoene,299,Calçoene

Salvar dataset total

In [79]:
#datasetTotal = pd.DataFrame();
datasetTotal = datasetDict['RO'].copy()

for i in listaUF:
    print("Arrumando o estado ", i)
    
    if (i != 'RO'):
        datasetTotal = pd.concat([datasetTotal, datasetDict[i]], ignore_index=True)

Arrumando o estado  RO
Arrumando o estado  AC
Arrumando o estado  AM
Arrumando o estado  RR
Arrumando o estado  PA
Arrumando o estado  TO
Arrumando o estado  MA
Arrumando o estado  PI
Arrumando o estado  CE
Arrumando o estado  RN
Arrumando o estado  PB
Arrumando o estado  PE
Arrumando o estado  AL
Arrumando o estado  SE
Arrumando o estado  BA
Arrumando o estado  MG
Arrumando o estado  ES
Arrumando o estado  RJ
Arrumando o estado  SP
Arrumando o estado  PR
Arrumando o estado  SC
Arrumando o estado  RS
Arrumando o estado  MS
Arrumando o estado  MT
Arrumando o estado  GO
Arrumando o estado  DF
Arrumando o estado  AP

In [80]:
datasetTotal.tail()

,Ano,FaixaEtaria,Municipio,UF,Area,Sexo,Cor,ValorAbsoluto,editMun,ID,Município
22202,2010,25 a 29 anos,Tartarugalzinho,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,128.701,tartarugalzinho,310,Tartarugalzinho
22203,2010,Todas as idades,Vitória do Jari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,1725.94,vitoriadojari,311,Vitória do Jari
22204,2010,15 a 17 anos,Vitória do Jari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,859.56,vitoriadojari,311,Vitória do Jari
22205,2010,18 a 24 anos,Vitória do Jari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,661.153,vitoriadojari,311,Vitória do Jari
22206,2010,25 a 29 anos,Vitória do Jari,AP,Rural e Urbana,Ambos os sexos,Todas as raças/cores,205.231,vitoriadojari,311,Vitória do Jari

In [83]:
datasave = datasetTotal.loc[datasetTotal['FaixaEtaria'] == 'Todas as idades', ["Ano", "Municipio", "editMun", "ID", "ValorAbsoluto"]]

Arrumar o nome

In [88]:
filename = file[:file.find(".")] + " - filtrado.csv"

In [91]:
datasave.to_csv("data/"+filename, index=False)