In [1]:
import pandas as pd
import numpy as np

In [9]:
path = 'downloads/'
file = 'Eixo2_Tabela3-v2.xlsx'
file1 = path + file

In [10]:
file1

'downloads/Eixo2_Tabela3-v2.xlsx'

In [11]:
dataset = pd.read_excel(file1)

In [12]:
dataset.head(10)

,Tabela 3: Distribuição de jovens alfabetizados e analfabetos segundo UF e município,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Região Norte,NaN,NaN,NaN,NaN,NaN,NaN
1,UF/Município,Alfabetização,NaN,NaN,NaN,Total,NaN
2,NaN,Sim,NaN,Não,NaN,NaN,NaN
3,NaN,Frequência,Percentual,Frequência,Percentual,NaN,UF
4,Acre,200674,0.934515,14062,0.0654851,214736,AC
5,ACRELÂNDIA,3255,0.967311,110,0.0326895,3365,AC
6,ASSIS BRASIL,1605,0.918192,143,0.0818078,1748,AC
7,BRASILÉIA,5719,0.945133,332,0.054867,6051,AC
8,BUJARI,2061,0.9205,178,0.0794998,2239,AC
9,CAPIXABA,2039,0.933181,146,0.0668192,2185,AC

In [13]:
dataset.columns = ['Municipio', 'Sim - Frequencia', 'Sim - Percentual', 'Não - Frequencia', 'Não - Percentual','Total','UF']

In [14]:
dataset.drop(dataset.index[:4], inplace=True)

In [15]:
dataset.head()

,Municipio,Sim - Frequencia,Sim - Percentual,Não - Frequencia,Não - Percentual,Total,UF
4,Acre,200674,0.934515,14062,0.0654851,214736,AC
5,ACRELÂNDIA,3255,0.967311,110,0.0326895,3365,AC
6,ASSIS BRASIL,1605,0.918192,143,0.0818078,1748,AC
7,BRASILÉIA,5719,0.945133,332,0.054867,6051,AC
8,BUJARI,2061,0.9205,178,0.0794998,2239,AC

# Codigos anteriores a 26/05

In [16]:
path = 'original/'
file = 'Indicador da Juventude - Frequência Escolar'
file1 = path + file + '.csv'

In [17]:
file1

'original/Indicador da Juventude - Frequência Escolar.csv'

In [4]:
dataset = pd.read_csv(file1, sep=';')

In [5]:
dataset.head(10)

,Ano,FaixaEtaria,Geografia,UF,Area,Sexo,Cor,ValorAbsoluto,ValorPercentual,Latitude,Longitude
0,2000,Todas as idades,Brasil,BR,Rural e Urbana,Ambos os sexos,Todas as raças/cores,5.340632e+07,0.314390,-13.495277,-71.577063
1,2000,Todas as idades,Brasil,BR,Rural,Ambos os sexos,Todas as raças/cores,9.511915e+06,0.297735,-13.495277,-71.577063
2,2000,Todas as idades,Brasil,BR,Urbana,Ambos os sexos,Todas as raças/cores,4.389441e+07,0.318248,-13.495277,-71.577063
3,2000,Todas as idades,Brasil,BR,Rural e Urbana,Ambos os sexos,Branca,2.771789e+07,0.303598,-13.495277,-71.577063
4,2000,Todas as idades,Brasil,BR,Rural,Ambos os sexos,Branca,3.819465e+06,0.275582,-13.495277,-71.577063
5,2000,Todas as idades,Brasil,BR,Urbana,Ambos os sexos,Branca,2.389842e+07,0.308612,-13.495277,-71.577063
6,2000,Todas as idades,Brasil,BR,Rural e Urbana,Ambos os sexos,Preta,2.941059e+06,0.278659,-13.495277,-71.577063
7,2000,Todas as idades,Brasil,BR,Rural,Ambos os sexos,Preta,5.948572e+05,0.269871,-13.495277,-71.577063
8,2000,Todas as idades,Brasil,BR,Urbana,Ambos os sexos,Preta,2.346202e+06,0.280979,-13.495277,-71.577063
9,2000,Todas as idades,Brasil,BR,Rural e Urbana,Ambos os sexos,Amarela,2.032858e+05,0.266925,-13.495277,-71.577063

In [6]:
dataset.columns

Index(['Ano', 'FaixaEtaria', 'Geografia', 'UF', 'Area', 'Sexo', 'Cor',
       'ValorAbsoluto', 'ValorPercentual', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1528749 entries, 0 to 1528748
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Ano              1528749 non-null  int64
 1   FaixaEtaria      1528749 non-null  object
 2   Geografia        1528749 non-null  object
 3   UF               1528749 non-null  object
 4   Area             1528749 non-null  object
 5   Sexo             1528749 non-null  object
 6   Cor              1528749 non-null  object
 7   ValorAbsoluto    1528749 non-null  float64
 8   ValorPercentual  1528749 non-null  float64
 9   Latitude         1528749 non-null  float64
 10  Longitude        1528749 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 128.3+ MB

In [9]:
for i in dataset.columns:
    print(str(i) + ": " + str(dataset[i].unique()) + "\n")

Ano: [2000 2010]

FaixaEtaria: ['Todas as idades' '15 a 17 anos' '18 a 24 anos' '25 a 29 anos']

Geografia: ['Brasil' 'Norte' 'Nordeste' ... 'Campo Limpo de Goiás'
 'Gameleira de Goiás' 'Ipiranga de Goiás']

UF: ['BR' 'RO' 'AC' 'AM' 'RR' 'PA' 'TO' 'MA' 'PI' 'CE' 'RN' 'PB' 'PE' 'AL'
 'SE' 'BA' 'MG' 'ES' 'RJ' 'SP' 'PR' 'SC' 'RS' 'MS' 'MT' 'GO' 'DF' 'AP']

Area: ['Rural e Urbana' 'Rural' 'Urbana']

Sexo: ['Ambos os sexos' 'Masculino' 'Feminino']

Cor: ['Todas as raças/cores' 'Branca' 'Preta' 'Amarela' 'Parda' 'Indígena'
 'Sem declaração de cor']

ValorAbsoluto: [5.34063205e+07 9.51191454e+06 4.38944059e+07 ... 5.42832346e+00
 7.52976200e+00 7.52976200e+00]

ValorPercentual: [0.31438996 0.2977347  0.31824782 ... 0.33560365 0.05703657 0.40158998]

Latitude: [-13.495277   -3.1291616  -5.9034092 ... -16.463889  -15.17
 -19.182778 ]

Longitude: [-71.5770628 -60.0235777 -37.8969041 ... -48.67      -49.670833
 -51.390833 ]

In [10]:
dataset = dataset.drop(columns=['ValorPercentual', 'Latitude', 'Longitude'])

In [11]:
remover_ano = dataset.index[dataset['Ano'] == 2000]
#remover os indexes angariados na linha anterior
dataset = dataset.drop(remover_ano, axis=0)

In [19]:
remover_UF = dataset.index[dataset['UF'] == 'BR']
#remover os indexes angariados na linha anterior
dataset = dataset.drop(remover_UF, axis=0)

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 775136 entries, 753613 to 1528748
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Ano            775136 non-null  int64
 1   FaixaEtaria    775136 non-null  object
 2   Geografia      775136 non-null  object
 3   UF             775136 non-null  object
 4   Area           775136 non-null  object
 5   Sexo           775136 non-null  object
 6   Cor            775136 non-null  object
 7   ValorAbsoluto  775136 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 53.2+ MB

In [14]:
dataset.to_numpy()

array([[2010, 'Todas as idades', 'Brasil', ..., 'Ambos os sexos',
        'Todas as raças/cores', 59565188.3722803],
       [2010, 'Todas as idades', 'Brasil', ..., 'Ambos os sexos',
        'Todas as raças/cores', 9420589.29273592],
       [2010, 'Todas as idades', 'Brasil', ..., 'Ambos os sexos',
        'Todas as raças/cores', 50144599.0802692],
       ...,
       [2010, '25 a 29 anos', 'Brasília', ..., 'Feminino', 'Parda',
        11161.2459088696],
       [2010, '25 a 29 anos', 'Brasília', ..., 'Feminino', 'Indígena',
        72.9409681319263],
       [2010, '25 a 29 anos', 'Brasília', ..., 'Feminino', 'Indígena',
        72.9409681319263]], dtype=object)

In [18]:
np.save(file +'.npy', dataset.to_numpy())

In [15]:
file1

'original/Indicador da Juventude - Frequência Escolar.csv'

Função para salvar vários

In [35]:
def salva_npy(file):
    print("Abrindo ", file)
    #abrir dataset
    dataset = pd.read_csv(file, sep=';')
    #dropar colunas que não preciso Remover as colunas de ValorPercentual, Latitude e Longitude
    dataset = dataset.drop(columns=['ValorPercentual', 'Latitude', 'Longitude'])
    #Renomear a coluna Geografia para Municípios
    dataset.rename(columns={'Geografia' : 'Municipio'}, inplace=True)
    #Remover registros do ano 2000, mantendo só os de 2010
    remover_ano = dataset.index[dataset['Ano'] == 2000]
    dataset = dataset.drop(remover_ano, axis=0)
    #Remover UF = BR, pois quero apenas os municípios
    remover_UF = dataset.index[dataset['UF'] == 'BR']
    dataset = dataset.drop(remover_UF, axis=0)
    #Manter apenas área = Rural e Urbana
    dataset = dataset.loc[dataset['Area'] == 'Rural e Urbana']
    #Manter apenas sexo = Ambos os sexos
    dataset = dataset.loc[dataset['Sexo'] == 'Ambos os sexos']
    #Manter cor = Todas as raças/cores
    dataset = dataset.loc[dataset['Cor'] == 'Todas as raças/cores']
    
    filename = file[:-4] #remover .csv
    print("Salvando ", filename)
    #salvar essa versao como npy
    np.save(file +'.npy', dataset.to_numpy())

In [22]:
import glob

In [28]:
for name in glob.glob('original/*.csv'):
    print(name)

original\Indicador da Juventude - Frequência Escolar.csv
original\Indicador da Juventude - Grau de Urbanização.csv
original\Indicador da Juventude - Jovens em Domicílio com Acesso à Internet.csv
original\Indicador da Juventude - Jovens em Domicílio com Coleta de Lixo Adequada.csv
original\Indicador da Juventude - Jovens por raça e cor.csv
original\Indicador da Juventude - Renda Domiciliar Per Capita Média dos Jovens.csv
original\Indicador da Juventude - Taxa de Analfabetismo.csv

In [36]:
for name in glob.glob('original/*.csv'):
    salva_npy(name)

Abrindo  original\Indicador da Juventude - Frequência Escolar.csv
Salvando  original\Indicador da Juventude - Frequência Escolar
Abrindo  original\Indicador da Juventude - Grau de Urbanização.csv
Salvando  original\Indicador da Juventude - Grau de Urbanização
Abrindo  original\Indicador da Juventude - Jovens em Domicílio com Acesso à Internet.csv
Salvando  original\Indicador da Juventude - Jovens em Domicílio com Acesso à Internet
Abrindo  original\Indicador da Juventude - Jovens em Domicílio com Coleta de Lixo Adequada.csv
Salvando  original\Indicador da Juventude - Jovens em Domicílio com Coleta de Lixo Adequada
Abrindo  original\Indicador da Juventude - Jovens por raça e cor.csv
Salvando  original\Indicador da Juventude - Jovens por raça e cor
Abrindo  original\Indicador da Juventude - Renda Domiciliar Per Capita Média dos Jovens.csv
Salvando  original\Indicador da Juventude - Renda Domiciliar Per Capita Média dos Jovens
Abrindo  original\Indicador da Juventude - Taxa de Analfabetismo.csv
Salvando  original\Indicador da Juventude - Taxa de Analfabetismo